{% extends "layout/base.html" %}

{% block head %}

{{super()}}

<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

{% endblock %}

{% block area %}

<meta name="csrf-token" content="{{ csrf_token() }}">

<div class="main-container">

    <section class="bg-white space-sm pb-4">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto">
            <h1 class="h2">Account Preferences</h1>
          </div>
          <!--end of col-->
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>
    <!--end of section-->
    <section class="flush-with-above space-0">
      <div class="bg-white">
        <div class="container">
          <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Notifications & Alerts</h5>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">App Message</th>
                                    <th scope="col">Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a tabindex="0" class="btn btn-lg" role="button" data-toggle="popover" data-trigger="hover" title="Application Global Notifications" data-placement="left" data-content="Messages which come from application administrator to all users."><h5>Application Alerts</h5></a></td>
                                    <td><input class="message-toggle" type="checkbox" {{ 'checked' if 'NOTIFICATION_DM_GLOBAL_ENABLED' not in user_properties.keys() else '' }} data-onstyle="success" data-offstyle="success" data-toggle="toggle" data-size="lg" data-name="NOTIFICATION_DM_GLOBAL_ENABLED"></td>
                                    <td><input class="message-toggle" type="checkbox" {{ 'checked' if 'NOTIFICATION_EMAIL_GLOBAL_ENABLED' not in user_properties.keys() else '' }} data-onstyle="success" data-offstyle="success" data-toggle="toggle" data-size="lg" data-name="NOTIFICATION_EMAIL_GLOBAL_ENABLED"></td>
                                </tr>
                                <tr>
                                    <td><a tabindex="1" class="btn btn-lg" role="button" data-toggle="popover" data-trigger="hover" title="Social Notifications" data-placement="left" data-content="Messages which come from application administrator to all users."><h5>Social Alerts</h5></a></td>
                                    <td><input class="message-toggle" type="checkbox" {{ 'checked' if 'NOTIFICATION_DM_SOCIAL_ENABLED' not in user_properties.keys() else '' }} data-onstyle="success" data-offstyle="success" data-toggle="toggle" data-size="lg" data-name="NOTIFICATION_DM_SOCIAL_ENABLED"></td>
                                    <td><input class="message-toggle" type="checkbox" {{ 'checked' if 'NOTIFICATION_EMAIL_SOCIAL_ENABLED' not in user_properties.keys() else '' }} data-onstyle="success" data-offstyle="success" data-toggle="toggle" data-size="lg" data-name="NOTIFICATION_EMAIL_SOCIAL_ENABLED"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="d-flex flex-row-reverse">
                            <button id="unsubscribe" class="btn btn-success">Unsubscribe All</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </div>
    </section>


</div>
{% endblock %}

{% block scripts %}

{{super()}}

<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<script>

    var csrftoken = $('meta[name=csrf-token]').attr('content')

    // Goes with system_agent_list[_small_screen].html
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    })

    $(function () {
        $('[data-toggle="popover"]').popover()
    })

    $('.popover-dismiss').popover({
        trigger: 'hover'
    })

    function createProperty(user_id, name, value) {

        var json_data = `
        {
            "value": ${value}
        }
        `;

        $.ajax({
            url: "/app/backend/property/" + user_id + "/" + name,
            type: 'POST',
            dataType: 'json', // added data type
            contentType: 'application/json',
            data: JSON.stringify(json_data),
            success: function(data) {
                console.log("Successfully created property");
            }
        });
    }

    function deleteProperty(user_id, name) {
        $.ajax({
            url: "/app/backend/property/" + user_id + "/" + name,
            type: 'DELETE',
            success: function(data) {
                console.log("Successfully deleted property")
            }
        });
    }

    function setButtonStateOff(name) {
        var button = $(`input[data-name="${name}"]`);
        button.bootstrapToggle('off')
    }

    $(function() {
        $('.message-toggle').change(function() {

            var name = $(this).data('name');
            var value = $(this).prop('checked');

            // If value is false, then POST create a new record, otherwise DELETE the record.
            if (value) {
                console.log('Remove property record');
                deleteProperty({{ current_user.user_id }}, name);
            } else {
                console.log('Create Property record');
                createProperty({{ current_user.user_id }}, name, "false");
            }

        });
    });


    $('#unsubscribe').click(function() {
        console.log('Unsubscribing from all notification/alert types.');
        // Just need to change the state of the button.  The other toggle callback will
        // trigger and handle property deletion.
        setButtonStateOff("NOTIFICATION_DM_GLOBAL_ENABLED");
        setButtonStateOff("NOTIFICATION_EMAIL_GLOBAL_ENABLED");
        setButtonStateOff("NOTIFICATION_DM_SOCIAL_ENABLED");
        setButtonStateOff("NOTIFICATION_EMAIL_SOCIAL_ENABLED");
    });

</script>

{% endblock %}