{% extends "layout/base.html" %}

{% block head %}

{{super()}}

<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

{% endblock %}

{% block area %}

<meta name="csrf-token" content="{{ csrf_token() }}">

<div class="main-container">

    <section class="bg-white space-sm pb-4">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto">
            <h1 class="h2">Account Preferences</h1>
          </div>
          <!--end of col-->
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>
    <!--end of section-->
    <section class="flush-with-above space-0">
      <div class="bg-white">
        <div class="container">
          <div class="row">
            <div class="col">

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Notifications & Alerts</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">App Message</th>
                                    <th scope="col">Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a tabindex="0" class="btn btn-lg" role="button" data-toggle="popover" data-trigger="hover" title="Application Global Notifications" data-placement="left" data-content="Messages which come from application administrator to all users."><h5>Application Alerts</h5></a></td>
                                    <td><input class="message-toggle" type="checkbox" {{ 'checked' if 'NOTIFICATION_DM_GLOBAL_ENABLED' not in user_properties.keys() else '' }} data-onstyle="success" data-offstyle="success" data-toggle="toggle" data-size="lg" data-name="NOTIFICATION_DM_GLOBAL_ENABLED"></td>
                                    <td><input class="message-toggle" type="checkbox" {{ 'checked' if 'NOTIFICATION_EMAIL_GLOBAL_ENABLED' not in user_properties.keys() else '' }} data-onstyle="success" data-offstyle="success" data-toggle="toggle" data-size="lg" data-name="NOTIFICATION_EMAIL_GLOBAL_ENABLED"></td>
                                </tr>
                                <tr>
                                    <td><a tabindex="1" class="btn btn-lg" role="button" data-toggle="popover" data-trigger="hover" title="Social Notifications" data-placement="left" data-content="Messages which come from application administrator to all users."><h5>Social Alerts</h5></a></td>
                                    <td><input class="message-toggle" type="checkbox" {{ 'checked' if 'NOTIFICATION_DM_SOCIAL_ENABLED' not in user_properties.keys() else '' }} data-onstyle="success" data-offstyle="success" data-toggle="toggle" data-size="lg" data-name="NOTIFICATION_DM_SOCIAL_ENABLED"></td>
                                    <td><input class="message-toggle" type="checkbox" {{ 'checked' if 'NOTIFICATION_EMAIL_SOCIAL_ENABLED' not in user_properties.keys() else '' }} data-onstyle="success" data-offstyle="success" data-toggle="toggle" data-size="lg" data-name="NOTIFICATION_EMAIL_SOCIAL_ENABLED"></td>
                                </tr>
                                <tr>
                                    <td><a tabindex="1" class="btn btn-lg" role="button" data-toggle="popover" data-trigger="hover" title="Monitor Notifications" data-placement="left" data-content="Messages which come from agent monitor to all accessed members."><h5>Monitor Alerts</h5></a></td>
                                    <td><input class="message-toggle" type="checkbox" {{ 'checked' if 'NOTIFICATION_DM_MONITOR_ENABLED' not in user_properties.keys() else '' }} data-onstyle="success" data-offstyle="success" data-toggle="toggle" data-size="lg" data-name="NOTIFICATION_DM_MONITOR_ENABLED"></td>
                                    <td><input class="message-toggle" type="checkbox" {{ 'checked' if 'NOTIFICATION_EMAIL_MONITOR_ENABLED' not in user_properties.keys() else '' }} data-onstyle="success" data-offstyle="success" data-toggle="toggle" data-size="lg" data-name="NOTIFICATION_EMAIL_MONITOR_ENABLED"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="d-flex flex-row-reverse">
                            <button id="unsubscribe" class="btn btn-success">Unsubscribe All</button>
                        </div>
                    </div>
                </div>
                <!-- end of card -->

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Time Preferences</h5>
                    </div>
                    <div class="card-body">
                        <div class="justify-content-start">
                            <div class="form-group">
                                <label for="USER_HOUR_FORMAT" class="col-form-label"><h6>Time Format</h6></label>
                                {% if 'USER_HOUR_FORMAT' in user_properties.keys() %}
                                    {% set user_time_format = user_properties['USER_HOUR_FORMAT'] %}
                                {% else %}
                                    {% set user_time_format = '12' %}
                                {% endif %}
                                <select class="form-control" id="USER_HOUR_FORMAT">
                                    <option selected data-time-format-int="{{user_time_format}}">{{user_time_format}} Hr</option>
                                    {% if user_time_format == '12' %}
                                        <option data-time-format-int="24">24 Hr</option>
                                    {% else %}
                                        <option data-time-format-int="12">12 Hr</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="USER_TIMEZONE" class="col-form-label"><h6>Time Zone</h6></label>
                                {% if 'USER_TIMEZONE' in user_properties.keys() %}
                                    {% set user_timezone = user_properties['USER_TIMEZONE'] %}
                                {% else %}
                                    {% set user_timezone = '(UTC+0h) UTC' %}
                                {% endif %}
                                <select class="form-control" id="USER_TIMEZONE" data-user-timezone="{{user_timezone}}">
                                    {% for tz in timezone_dict.keys() %}
                                        {% set is_selected = 'selected' if tz == user_timezone else '' %}
                                        <option data-time-zone-id="{{ timezone_dict[tz]['time_zone_id'] }}" data-gmt-adjustment="{{ timezone_dict[tz]['utcoffset'] }}" value="{{ timezone_dict[tz]['utcoffset'] }}" {{is_selected}}>{{ tz }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="USER_MAINTENANCE_HOUR" class="col-form-label"><h6>Maintenance Hour</h6></label>
                                <select class="form-control" id="USER_MAINTENANCE_HOUR">
                                    {% if 'USER_MAINTENANCE_HOUR' in user_properties.keys() %}
                                        {% set user_maintenance_hour = user_properties['USER_MAINTENANCE_HOUR'] %}
                                    {% else %}
                                        {% set user_maintenance_hour = 24 %}
                                    {% endif %}
                                    {% for hour in hours_tuple_list %}
                                        {% set is_selected = 'selected' if hour[1] == user_maintenance_hour else '' %}
                                        <option data-hour="{{hour[1]}}" {{is_selected}}>{{hour[0]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of card -->
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </div>
    </section>


</div>
{% endblock %}

{% block scripts %}

{{super()}}

<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<script>

    var csrftoken = $('meta[name=csrf-token]').attr('content')

    // Goes with system_agent_list[_small_screen].html
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    })

    $(function () {
        $('[data-toggle="popover"]').popover()
    })

    $('.popover-dismiss').popover({
        trigger: 'hover'
    })

    function createProperty(user_id, name, value) {

        var json_data = `
        {
            "value": ${value}
        }
        `;

        $.ajax({
            url: "/app/backend/property/" + user_id + "/" + name,
            type: 'POST',
            dataType: 'json', // added data type
            contentType: 'application/json',
            data: JSON.stringify(json_data),
            success: function(data) {
                console.log("Successfully created property");
            }
        });
    }

    function updateProperty(user_id, name, value) {

        var json_data = `
        {
            "value": ${value}
        }
        `;

        $.ajax({
            url: "/app/backend/property/" + user_id + "/" + name,
            type: 'PATCH',
            dataType: 'json', // added data type
            contentType: 'application/json',
            data: JSON.stringify(json_data),
            success: function(data) {
                console.log("Successfully updated/created property");
            }
        });
    }


    function deleteProperty(user_id, name) {
        $.ajax({
            url: "/app/backend/property/" + user_id + "/" + name,
            type: 'DELETE',
            success: function(data) {
                console.log("Successfully deleted property")
            }
        });
    }

    function setButtonStateOff(name) {
        var button = $(`input[data-name="${name}"]`);
        button.bootstrapToggle('off')
    }

    $(function() {
        $('.message-toggle').change(function() {

            var name = $(this).data('name');
            var value = $(this).prop('checked');

            // If value is false, then POST create a new record, otherwise DELETE the record.
            if (value) {
                console.log('Remove property record');
                deleteProperty({{ current_user.user_id }}, name);
            } else {
                console.log('Create Property record');
                updateProperty({{ current_user.user_id }}, name, "false");
            }

        });
    });

    $("#USER_TIMEZONE").change(function() {
        var selected = $(this).find('option:selected');
        var time_zone_id = selected.data('time-zone-id');
        var gmt_adjustment = selected.data('gmt-adjustment');
        var label = selected.text();
        console.log('Time Zone ID: ' + time_zone_id);
        console.log('Label: ' + label);
        console.log('GMT Adjustment: ' + gmt_adjustment);

        let label_string = `"${label}"`;

        updateProperty({{ current_user.user_id }}, "USER_TIMEZONE", label_string);
    });

    $("#USER_HOUR_FORMAT").change(function() {
        var selected = $(this).find('option:selected');
        var time_format = selected.data('time-format-int');
        console.log('Time Format: ' + time_format);

        updateProperty({{ current_user.user_id }}, "USER_HOUR_FORMAT", time_format);
    });

    $("#USER_MAINTENANCE_HOUR").change(function() {
        var selected = $(this).find('option:selected');
        var maintenance_hour = selected.data('hour');
        console.log('Maintenance Hour: ' + maintenance_hour);

        let maintenance_hour_str = `"${maintenance_hour}"`;

        updateProperty({{ current_user.user_id }}, "USER_MAINTENANCE_HOUR", maintenance_hour_str);
    });


    $('#unsubscribe').click(function() {
        console.log('Unsubscribing from all notification/alert types.');
        // Just need to change the state of the button.  The other toggle callback will
        // trigger and handle property deletion.
        setButtonStateOff("NOTIFICATION_DM_GLOBAL_ENABLED");
        setButtonStateOff("NOTIFICATION_EMAIL_GLOBAL_ENABLED");
        setButtonStateOff("NOTIFICATION_DM_SOCIAL_ENABLED");
        setButtonStateOff("NOTIFICATION_EMAIL_SOCIAL_ENABLED");
        setButtonStateOff("NOTIFICATION_DM_MONITOR_ENABLED");
        setButtonStateOff("NOTIFICATION_EMAIL_MONITOR_ENABLED");
    });

</script>

{% endblock %}