<section class="height-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-5">
                <div class="card card-lg text-center">
                    <div class="card-body">
                        <i class="icon-add-to-list display-4 opacity-20"></i>
                        <h1 class="h5">There are no Agents of the System yet...</h1>
                        <p>
                            Install <a href="https://github.com/agentsofthesystem/agent-smith/releases" target="_blank">Agent Smith</a> first, and then add to the System.
                        </p>
                        <button class="btn btn-success btn-lg" onclick="showNewAgentModal()">Add An Agent</button>
                    </div>
                </div>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>