{% extends "layout/base.html" %}

{% block area %}

<meta name="csrf-token" content="{{ csrf_token() }}">

<div class="col text-center">

    {% if request_list_empty %}
        <section class="flush-with-above space-0">
            {% include "protected/system_friend_code_form.html" %}
        </section>
        {% if not friend_list_empty %}
        <section class="flush-with-above space-0">
            <div class="container">
                {% include "protected/system_friend_list.html" %}
            </div>
        </section>
        {% endif %}
    {% else %}

    <section class="flush-with-above space-0">

        {% include "protected/system_friend_code_form.html" %}

        <div class="container">
            <div class="row justify-content-center">
                <div class="col text-center">
                    <ul class="nav nav-tabs" id="myMessagesTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="friend-request-tab" data-toggle="tab"
                                href="#friend-requests" role="tab" aria-selected="true">Friend Requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="friend-list-tab" data-toggle="tab" href="#friend-list"
                                role="tab" aria-selected="true">Friend List</a>
                        </li>
                    </ul>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section class="flush-with-above d-block">

        <div class="tab-content">
            <div class="tab-pane fade show active justify-content-center" id="friend-requests" role="tabpanel">
                <div class="container">
                    {% include "protected/system_friend_request_list.html" %}
                </div>
            </div>

            <!--end of tab pane-->
            <div class="tab-pane fade" id="friend-list" role="tabpanel">
                <div class="container">
                    {% include "protected/system_friend_list.html" %}
                </div>
                <!--end of container-->

            </div>
            <!--end of tab pane-->
        </div>
        <!--end of tabs content-->
    </section>
    {% endif %}

</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    function showAddFriendModal() {
        $('#addFriendModal').modal('show')
    }
    function changePage() {
        document.location.href = "{{url_for('protected.system_friends', empty=False)}}";
    }
</script>
{% endblock %}