{% extends "layout/base.html" %}

{% block head %}

{{super()}}

<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

{% endblock %}

{% block area %}
<meta name="csrf-token" content="{{ csrf_token() }}">
<meta name="agent-info-id" content="{{ agent_info['agent']['agent_id'] }}">

<!-- Modal -->
<div class="modal fade" id="commingSoonModal" tabindex="-1" role="dialog" aria-labelledby="message-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Coming Soon!</h5>
      </div>
      <div class="modal-body">
        <p>This feature is planned but not yet implemented.</p>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="message-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agent is Unreachable</h5>
      </div>

      <div class="modal-body">
        <p>There has been an error retrieving information from the Agent. It's not reachable
          at the Host/Port provided.</p>

        <p>Please go back to the <a href="{{url_for('protected.system_agents')}}">Agents</a> page.</p>

      </div>

      <div class="modal-footer">
        <a type="button" class="btn btn-secondary" href="{{url_for('protected.system_agents')}}">Go to Agents Page</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="gameServerActionInProgress" tabindex="-1" role="dialog" aria-labelledby="message-title"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered d-flex justify-content-center " role="document">
    <div class="spinner-border text-success" style="width: 8rem; height: 8rem;" role="status">
      <span class="sr-only">Pending...</span>
    </div>
  </div>
</div>

<div class="container">

  <!--Agent Info Header-->
  <section class="bg-white space-sm">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col">
          <div class="media align-items-center">
            {% if current_user.user_id == agent_info['agent']['owner_id'] %}
            <img alt="I own this Agent" src="{{ url_for('static', filename='assets/img/agent-black.svg') }}"
              class="avatar avatar-lg avatar-square rounded" />
            {% else %}
            <img alt="Shared Agent" src="{{ url_for('static', filename='assets/img/agent-green.png') }}"
              class="avatar avatar-lg avatar-square rounded" />
            {% endif %}
            <div class="media-body">
              <h1 class="mb-0"><strong>Agent Name:</strong> {{agent_info['agent']['name']}} </h1>
              <h2 class="lead mb-2">Agent URL/Port: {{agent_info['agent']['hostname']}}:{{agent_info['agent']['port']}}
              </h2>
              <div class="d-flex align-items-center">
                <span class="badge badge-secondary mr-3">Owned By: {{agent_info['agent']['owner']['username']}}</span>
                <ul class="list-inline text-small d-inline-block">
                  <!-- Groups -->
                  <li class="list-inline-item"><i class="icon-globe"></i> Groups: {{agent_info['num_groups']}}</li>
                  <!-- Groups -->
                  <li class="list-inline-item"><i class="icon-game-controller"></i> Friends:
                    {{agent_info['num_friends']}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--end of col-->
        <div class="col-auto">
          <div class="btn-group mb-2">
            <button type="button" class="btn btn-success btn-lg">Settings</button>
            <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split dropdown-toggle-no-arrow"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-dots-three-horizontal"></i>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm">
              <a class="dropdown-item" href="#commingSoonModal">Start/Stop All Servers</a>
            </div>
          </div>
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <!--end of section-->

  <section class="bg-white space-sm">

    <div class="container">

      <!--Agent Info - Membership -->
      <div class="row justify-content-between">

        <div class="container">

          <div class="card">

            <div class="card-header mb-1">
              <span class="h6">Agent Memberships</span>
            </div>

            <ul class="feature-list feature-list-sm row">
              {% set is_disabled = "disabled='true'" if current_user.user_id != agent_info['agent']['owner_id'] else "" %}
              <li class="col-sm">
                <div class="card border-light ml-1">
                  <div class="card-header d-flex justify-content-between">
                    <div>
                      <span class="h6">Group Members</span>
                      <span class="badge badge-secondary">{{agent_info['num_groups']}}</span>
                    </div>
                  </div>
                  <div class="card-body">
                    <ul class="list-unstyled list-spacing-sm">
                      {% for group in agent_info['groups'] %}
                      <li>
                        <div class="input-group">
                          <input class="form-control form-control-lg" type="text"
                            value="{{group['name']}} (Owner: {{group['owner']['username']}})" disabled="true">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary remove-group-from-agent" type="button"
                              id="{{group['agent_group_member_id']}}" {{is_disabled}}><i
                                class="icon-circle-with-cross"></i></button>
                          </div>
                        </div>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                <!--end of card-->
              </li>
              <!--end of col-->

              <li class="col-sm">
                <div class="card border-light mr-1">
                  <div class="card-header d-flex justify-content-between">
                    <div>
                      <span class="h6">Friend Members</span>
                      <span class="badge badge-secondary">{{agent_info['num_friends']}}</span>
                    </div>
                  </div>
                  <div class="card-body">
                    <ul class="list-unstyled list-spacing-sm">
                      {% for friend in agent_info['friends'] %}
                      <li>
                        <div class="input-group">
                          <input class="form-control form-control-lg" type="text" value="{{friend['username']}}"
                            disabled="true">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary remove-friend-from-agent" type="button"
                              id="{{friend['agent_friend_member_id']}}" {{is_disabled}}><i
                                class="icon-remove-user"></i></button>
                          </div>
                        </div>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                <!--end of card-->
              </li>
              <!--end of col-->

            </ul>
          </div>
        </div>
      </div>

      <div class="row justify-content-between">

        <div class="col-14 col-md-4">
          {% include 'protected/system_agent_platform_info.html' %}
        </div>
        <!--end of col-->

        <div class="col-14 col-md-8">

          {% include 'protected/system_agent_server_table.html' %}

          {% include 'protected/system_agent_monitors.html' %}

          <div class="card">
            <div class="card-header">
              <span class="h6">Agent Activity</span>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <a class="mb-1"><h4>Logs</h4></a>
                  <span>Coming Soon...</span>
                </div>
              </div>
          </div>

        </div>
        <!--end of col-->

      </div>
      <!--end of row-->

    </div>
    <!--end of container-->

  </section>
  <!--end of section-->

</div>
{% endblock %}

{% block scripts %}

{{super()}}

<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<!-- Handles Agent Platform static information update, and Game Server information table, and also
     the membership removals for Groups and Friends.
-->
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/agent_info.js') }}"></script>

<!-- Handles Monitor functionality -->
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/agent_info_monitors.js') }}"></script>

{% endblock %}