{% extends "layout/base.html" %}

{% block head %}

{{super()}}

<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

{% endblock %}

{% block area %}
<meta name="csrf-token" content="{{ csrf_token() }}">
<meta name="agent-info-id" content="{{ agent_info['agent']['agent_id'] }}">

<!-- Modal -->
<div class="modal fade" id="commingSoonModal" tabindex="-1" role="dialog" aria-labelledby="message-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Coming Soon!</h5>
      </div>
      <div class="modal-body">
        <p>This feature is planned but not yet implemented.</p>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="message-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agent is Unreachable</h5>
      </div>

      <div class="modal-body">
        <p>There has been an error retrieving information from the Agent. It's not reachable
          at the Host/Port provided.</p>

        <p>Please go back to the <a href="{{url_for('protected.system_agents')}}">Agents</a> page.</p>

      </div>

      <div class="modal-footer">
        <a type="button" class="btn btn-secondary" href="{{url_for('protected.system_agents')}}">Go to Agents Page</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="gameServerActionInProgress" tabindex="-1" role="dialog" aria-labelledby="message-title"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered d-flex justify-content-center " role="document">
    <div class="spinner-border text-success" style="width: 8rem; height: 8rem;" role="status">
      <span class="sr-only">Pending...</span>
    </div>
  </div>
</div>

<div class="container">

  <!--Agent Info Header-->
  <section class="bg-white">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col">
          <div class="media align-items-center">
            {% if current_user.user_id == agent_info['agent']['owner_id'] %}
            <img alt="I own this Agent" src="{{ url_for('static', filename='assets/img/agent-black.svg') }}"
              class="avatar avatar-lg avatar-square rounded" />
            {% else %}
            <img alt="Shared Agent" src="{{ url_for('static', filename='assets/img/agent-green.png') }}"
              class="avatar avatar-lg avatar-square rounded" />
            {% endif %}
            <div class="media-body">
              <h1 class="mb-0"><strong>Agent Name:</strong> {{agent_info['agent']['name']}} </h1>
              <h2 class="lead mb-2">Agent URL/Port: {{agent_info['agent']['hostname']}}:{{agent_info['agent']['port']}}
              </h2>
              <div class="d-flex align-items-center">
                <span class="badge badge-secondary mr-3">Owned By: {{agent_info['agent']['owner']['username']}}</span>
                <ul class="list-inline text-small d-inline-block">
                  <!-- Groups -->
                  <li class="list-inline-item"><i class="icon-globe"></i> Groups: {{agent_info['num_groups']}}</li>
                  <!-- Groups -->
                  <li class="list-inline-item"><i class="icon-game-controller"></i> Friends:
                    {{agent_info['num_friends']}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--end of col-->
        <div class="col-auto">
          <div class="btn-group mb-2">
            <button type="button" class="btn btn-success btn-lg" id="agent-info-refresh"><i class="icon-cw"></i></button>
            <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split dropdown-toggle-no-arrow"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-dots-three-horizontal"></i>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm">
              <!--<a class="dropdown-item" href="#commingSoonModal">Start/Stop All Servers</a>-->
              <a class="dropdown-item" onclick="showAgentMembership()">Agent Membership</a>
            </div>
          </div>
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <!--end of section-->

  <section class="bg-white">

    <div class="container">

      {% include 'protected/system_agent_membership.html' %}

      <div class="row justify-content-between">

        <div class="col-14 col-md-4">
          {% include 'protected/system_agent_platform_info.html' %}
        </div>
        <!--end of col-->

        <div class="col-14 col-md-8">

          {% include 'protected/system_agent_monitors.html' %}

          {% include 'protected/system_agent_server_table.html' %}

          <!--
          <div class="card">
            <div class="card-header">
              <span class="h6">Agent Activity</span>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <a class="mb-1"><h4>Logs</h4></a>
                  <span>Coming Soon...</span>
                </div>
              </div>
          </div>
          -->

        </div>
        <!--end of col-->

      </div>
      <!--end of row-->

    </div>
    <!--end of container-->

  </section>
  <!--end of section-->

</div>
{% endblock %}

{% block scripts %}

{{super()}}

<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<!-- Handles Agent Platform static information update, and Game Server information table, and also
     the membership removals for Groups and Friends.
-->
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/agent_info.js') }}"></script>

<!-- Handles Monitor functionality -->
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/agent_info_monitors.js') }}"></script>

<script>

  $("#agent-info-refresh").click(function() {
      console.log("Refreshing Agent Information...");

      // get agent id
      var agent_id = $("meta[name='agent-info-id']").attr("content");
      var all_agent_monitor_section = $("#all_agent_monitor_section")[0];

      $(all_agent_monitor_section).hide();

      agent_monitor_socket.emit(
        'get_monitor_status', { "agent_id": agent_id , 'monitor_type': 'AGENT' }
      );
      agent_monitor_socket.emit(
        'get_monitor_status', { "agent_id": agent_id , 'monitor_type': 'DEDICATED_SERVER' }
      );
      agent_monitor_socket.emit(
        'get_monitor_status', { "agent_id": agent_id , 'monitor_type': 'UPDATES' }
      );

      triggerAgentInfoRequest(agent_id, emit_only=true);
      $(all_agent_monitor_section).show();
  });

</script>


{% endblock %}