<div id="agent-info-section">
    <div class="card">

        <div class="card-header">
            <span class="h6">Platform</span>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div><i class="icon-keyboard mr-1"></i>Name: </div>
                    <span id="data-platform-name">TBD</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div><i class="icon-classic-computer mr-1"></i>Machine: </div>
                    <span id="data-platform-machine">TBD</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div><i class="icon-suitcase mr-1"></i>OS: </div>
                    <span id="data-platform-os">TBD</span>
                </div>
            </li>
        </ul>

    </div>

    <div class="card">

        <div class="card-header">
            <span class="h6">CPU</span>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div><i class="icon-ruler mr-1"></i>Freq Max:</div>
                    <span id="data-cpu-freq">TBD</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div><i class="icon-code mr-1"></i>Physical Cores:</div>
                    <span id="data-cpu-physical-cores">TBD</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div><i class="icon-plus mr-1"></i>Total Cores:</div>
                    <span id="data-cpu-total-cores">TBD</span>
                </div>
            </li>
        </ul>

    </div>

    <div class="card">

        <div class="card-header">
            <span class="h6">Memory</span>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div><i class="icon-plus mr-1"></i>Total:</div>
                    <span id="data-memory-total">TBD</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div><i class="icon-code mr-1"></i>Available:</div>
                    <span id="data-memory-available">TBD</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div><i class="icon-direction mr-1"></i>Used:</div>
                    <span id="data-memory-used">TBD</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div><i class="icon-gauge mr-1"></i>Usage %</div>
                    <span id="data-memory-usage">TBD</span>
                </div>
            </li>
        </ul>

    </div>

</div>