<div id="agent-game-info-section">

    <!-- Normal version of the table shows for larger/regular sized screens -->
    <div class="card d-none d-sm-block">
        <div class="card-header">
            <span class="h6">Installed Dedicated Servers</span>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover align-items-center">
                <thead>
                    <tr>
                        <th scope="col">Game Server</th>
                        <th scope="col">Last Update</th>
                        <th scope="col">Build</th>
                        <th scope="col">Branch</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="bg-white" id="game-server-table-body">
                    <!-- This gets filled in via websocket/javascript -->
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            {% if agent_info['is_owner_subscribed'] %}
                <div class="d-flex justify-content-end">
                    <a href="https://docs.agentsofthesystem.com/build/html/architect/agents.html#dedicated-server-controls-status" target="_blank" class="btn btn-success"><span>&nbsp;<i class="icon-info text-grey"></i></span></a>
                </div>
            {% else %}
                <span class="h6 text-muted">Limited to one server without subscription.</span>
            {% endif %}
        </div>
    </div>

    <!-- Condensed version of the table shows for small screens -->
    <div class="card d-block d-sm-none">
        <div class="card-header">
            <span class="h6">Installed Dedicated Servers</span>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover align-items-center">
                <thead>
                    <tr>
                        <th scope="col">Game Server</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="bg-white" id="game-server-table-body-small-screen">
                    <!-- This gets filled in via websocket/javascript -->
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            {% if agent_info['is_owner_subscribed'] %}
                <div class="d-flex justify-content-end">
                    <a href="https://docs.agentsofthesystem.com/build/html/architect/agents.html#dedicated-server-controls-status" target="_blank" class="btn btn-success"><span>&nbsp;<i class="icon-info text-grey"></i></span></a>
                </div>
            {% else %}
                <span class="h6 text-muted">Limited to one server without subscription.</span>
            {% endif %}
        </div>
    </div>

</div>