<!-- Modal -->
<div class="modal fade" id="monitorSettingsModal-1" tabindex="-1" role="dialog" aria-labelledby="message-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agent Health Monitor - Settings</h5>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-start">
          <div class="form-check form-check-inline">
            <label for="interval-select-1" class="form-check-label"><h6>Polling Interval</h6></label>
            <select id="interval-select-1" class="form-control ml-2 monitor-control" data-name="AGENT_HEALTH_INTERVAL">
              <option value="3600">1 Hour</option>
              <option value="1800">30 Minutes</option>
              <option value="900">15 Minutes</option>
            </select>
          </div>
          <div class="form-check form-check-inline">
            <label for="alert-enable-toggle-1" class="form-check-label"><h6>Enable Alerts</h6></label>
            <input id="alert-enable-toggle-1" class="form-check-input  monitor-control" type="checkbox" data-onstyle="success" data-offstyle="success" data-style="ml-2" data-toggle="toggle" data-size="md" data-name="AGENT_HEALTH_ALERT_ENABLE">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="monitorSettingsModal-2" tabindex="-1" role="dialog" aria-labelledby="message-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dedicated Server Health Monitor - Settings</h5>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-start">
          <div class="form-check form-check-inline">
            <label for="interval-select-2" class="form-check-label"><h6>Polling Interval</h6></label>
            <select id="interval-select-2" class="form-control ml-2 monitor-control" data-name="DS_HEALTH_INTERVAL">
              <option value="3600">1 Hour</option>
              <option value="1800">30 Minutes</option>
              <option value="900">15 Minutes</option>
            </select>
          </div>
          <div class="form-check form-check-inline">
            <label for="alert-enable-toggle-2" class="form-check-label"><h6>Enable Alerts</h6></label>
            <input id="alert-enable-toggle-2" class="form-check-input  monitor-control" type="checkbox" data-onstyle="success" data-offstyle="success" data-style="ml-2" data-toggle="toggle" data-size="md" data-name="DS_HEALTH_ALERT_ENABLE">
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <div class="form-check form-check-inline">
            <label for="server-auto-restart-toggle" class="form-check-label"><h6>Auto Restart Offline Servers</h6></label>
            <input id="server-auto-restart-toggle" class="form-check-input  monitor-control" type="checkbox" data-onstyle="success" data-offstyle="success" data-style="ml-2" data-toggle="toggle" data-size="md" data-name="DS_AUTO_RESTART_ENABLE">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="monitorSettingsModal-3" tabindex="-1" role="dialog" aria-labelledby="message-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dedicated Server Update Monitor - Settings</h5>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-start">
          <div class="form-check form-check-inline">
            <label for="interval-select-3" class="form-check-label"><h6>Polling Interval</h6></label>
            <select id="interval-select-3" class="form-control ml-2 monitor-control" data-name="DS_UPDATES_CHECK_INTERVAL">
              <option value="3600">1 Hour</option>
              <option value="1800">30 Minutes</option>
              <option value="900">15 Minutes</option>
            </select>
          </div>
          <div class="form-check form-check-inline">
            <label for="alert-enable-toggle-3" class="form-check-label"><h6>Enable Alerts</h6></label>
            <input id="alert-enable-toggle-3" class="form-check-input  monitor-control" type="checkbox" data-onstyle="success" data-offstyle="success" data-style="ml-2" data-toggle="toggle" data-size="md" data-name="DS_UPDATES_ALERT_ENABLE">
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <div class="form-check form-check-inline">
            <label for="update-final-state" class="form-check-label"><h6>Final Server State</h6></label>
            <select id="update-final-state" class="form-control ml-2 monitor-control" data-name="DS_UPDATES_FINAL_SERVER_STATE">
              <option value="SAME">Same</option>
              <option value="ONLINE">Online</option>
              <option value="OFFLINE">Offline</option>
            </select>
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <div class="form-check form-check-inline">
            <label for="server-auto-update-toggle" class="form-check-label"><h6>Auto Update Outdated Servers</h6></label>
            <input id="server-auto-update-toggle" class="form-check-input  monitor-control" type="checkbox" data-onstyle="success" data-offstyle="success" data-style="ml-2" data-toggle="toggle" data-size="md" data-name="DS_AUTO_UPDATE_ENABLE">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% set is_owner_subscribed = agent_info['is_owner_subscribed'] %}
{% set is_owner_viewing = current_user.user_id == agent_info['agent_owner_id'] %}
{% set is_current_user_subscribed = current_user.subscribed %}

<meta name="is_owner_subscribed" content="{{is_owner_subscribed}}">
<meta name="is_owner_viewing" content="{{is_owner_viewing}}">
<meta name="is_current_user_subscribed" content="{{is_current_user_subscribed}}">

<!-- Card -->
<div class="card mb-2" id="all-agent-monitor-section">

  <!-- If the person viewing the monitor owns the agent and is subscribed, monitor controls are allowed.   -->
  <!-- If the person viewing the monitor doesn't own the agent, but it's shared to them and is subscribed, monitor controls are allowed. -->
  {% set monitor_disabled = '' if (is_owner_subscribed and is_owner_viewing) or is_current_user_subscribed else 'disabled' %}

  <div class="card-header">
    <div class="d-flex justify-content-start">
      <button class="btn btn-success dropdown-toggle h6" type="button" id="monitor-select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{monitor_disabled}}>
        Agent Health
      </button>
      <div class="dropdown-menu" aria-labelledby="monitor-select">
        <a class="dropdown-item" onclick="updateMonitorSection('agent_health')">Agent Health</a>
        <a class="dropdown-item" onclick="updateMonitorSection('ds_health')">Dedicated Server Health</a>
        <a class="dropdown-item" onclick="updateMonitorSection('ds_updates')">Dedicated Server Updates</a>
      </div>
    </div>
  </div>

  <div class="card-body">

    <div class="row" id="monitoring-agent-health">

        <div class="container">

            <div class="media align-items-center">
                <div class="media-body">
                    <div class="d-flex justify-content-between mb-2">
                        <div>
                            <a class="mb-1"><h4>Agent Health Monitor</h4></a>
                            <span>Checks if the agent on your server is running periodically.</span>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-lg btn-success dropdown-toggle dropdown-toggle-no-arrow disabled" type="button" id="monitor-settings-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{monitor_disabled}}> <i class="icon-dots-three-horizontal"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="monitor-settings-1">
                                <a class="dropdown-item monitor-control-settings" id="AGENT_HEALTH_SETTINGS" data-name="AGENT_HEALTH_SETTINGS" >Settings</a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start mb-2">
                        <div class="text-small mr-2">
                            <a><h6 id="AGENT_HEALTH_LAST_CHECK">Last Check: TBD</h6></a>
                        </div>
                        <div class="text-small">
                            <a><h6 id="AGENT_HEALTH_NEXT_CHECK">Next Check: TBD</h6></a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <div class="form-check form-check-inline">
                            <label for="AGENT_HEALTH_ENABLE" class="form-check-label"><h6>Enable Monitor</h6></label>
                            <input id="AGENT_HEALTH_ENABLE" class="form-check-input monitor-control" type="checkbox" data-onstyle="success" data-offstyle="success" data-style="ml-2" data-toggle="toggle" data-size="md" data-name="AGENT_HEALTH_ENABLE" {{monitor_disabled}}>
                        </div>
                    </div>
                    <span class="badge badge-secondary badge-pill mb-2 monitor-status" id="AGENT_HEALTH_STATUS">Unknown</span>
                    <div id="monitor-faults-1">
                      <ul class="list-group" id="monitor-fault-list-1">

                      </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row" id="monitoring-dedicated-servers">

      <div class="container">

        <div class="media align-items-center">
            <div class="media-body">
                <div class="d-flex justify-content-between mb-2">
                    <div>
                        <a class="mb-1"><h4>Dedicated Server Monitor</h4></a>
                        <span>Checks if the dedicated game servers are running as expected, periodically.</span>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-lg btn-success dropdown-toggle dropdown-toggle-no-arrow disabled" type="button" id="monitor-settings-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon-dots-three-horizontal" disabled></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="monitor-settings-2">
                            <a class="dropdown-item monitor-control-settings" id="DS_SETTINGS" data-name="DS_SETTINGS">Settings</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-start mb-2">
                    <div class="text-small mr-2">
                        <a><h6 id="DS_HEALTH_LAST_CHECK">Last Check: TBD</h6></a>
                    </div>
                    <div class="text-small">
                        <a><h6 id="DS_HEALTH_NEXT_CHECK">Next Check: TBD</h6></a>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="form-check form-check-inline">
                        <label for="DS_HEALTH_ENABLE" class="form-check-label"><h6>Enable Monitor</h6></label>
                        <input id="DS_HEALTH_ENABLE" class="form-check-input monitor-control" type="checkbox" data-onstyle="success" data-offstyle="success" data-style="ml-2" data-toggle="toggle" data-size="md" data-name="DS_HEALTH_ENABLE">
                    </div>
                </div>
                <span class="badge badge-secondary badge-pill mb-2 monitor-status" id="DS_HEALTH_STATUS">Unknown</span>
                <div id="monitor-faults-2">
                  <ul class="list-group" id="monitor-fault-list-2">

                  </ul>
                </div>
            </div>

        </div>

    </div>

    </div>

    <div class="row" id="monitoring-ds-updates">

      <div class="container">

        <div class="media align-items-center">
            <div class="media-body">
                <div class="d-flex justify-content-between mb-2">
                    <div>
                        <a class="mb-1"><h4>Dedicated Server Updates Monitor</h4></a>
                        <span>Checks periodically for active servers in need of updating.</span>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-lg btn-success dropdown-toggle dropdown-toggle-no-arrow disabled" type="button" id="monitor-settings-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon-dots-three-horizontal" disabled></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="monitor-settings-3">
                            <a class="dropdown-item monitor-control-settings" id="DS_UPDATE_SETTINGS" data-name="DS_UPDATE_SETTINGS">Settings</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-start mb-2">
                    <div class="text-small mr-2">
                        <a><h6 id="DS_UPDATES_LAST_CHECK">Last Check: TBD</h6></a>
                    </div>
                    <div class="text-small">
                        <a><h6 id="DS_UPDATES_NEXT_CHECK">Next Check: TBD</h6></a>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="form-check form-check-inline">
                        <label for="DS_UPDATE_ENABLE" class="form-check-label"><h6>Enable Monitor</h6></label>
                        <input id="DS_UPDATE_ENABLE" class="form-check-input monitor-control" type="checkbox" data-onstyle="success" data-offstyle="success" data-style="ml-2" data-toggle="toggle" data-size="md" data-name="DS_UPDATE_ENABLE">
                    </div>
                </div>
                <span class="badge badge-secondary badge-pill mb-2 monitor-status" id="DS_UPDATE_STATUS">Unknown</span>
                <div id="monitor-faults-3">
                  <ul class="list-group" id="monitor-fault-list-3">

                  </ul>
                </div>
            </div>

        </div>

    </div>

    </div>

  </div>

  <div class="card-footer">
    <!-- A button when clicked opens a web page-->
    {% if show_monitor_status_button %}
    <div class="d-flex justify-content-between">
      <a href="{{url_for('protected.system_agent_monitors', agent_id=agent_info['agent']['agent_id'])}}" class="btn btn-success">Monitoring Status</a>
      <a href="https://docs.agentsofthesystem.com/build/html/architect/monitors.html" target="_blank" class="btn btn-success"><span>&nbsp;<i class="icon-info text-grey"></i></span></a>
    </div>
    {% else %}
    <div class="d-flex justify-content-end">
      <a href="https://docs.agentsofthesystem.com/build/html/architect/monitors.html" target="_blank" class="btn btn-success"><span>&nbsp;<i class="icon-info text-grey"></i></span></a>
    </div>
    {% endif %}
  </div>

</div>