# Specific files/folders
geckodriver.log
.spyproject
__pycache__
process.yml
logs/
bin/
htmlcov/
venv/

# Patterns
backend/db/*.db
source/__pycache__*
app/__pycache__*
celerybeat-schedule*
.coverage
*.Identifier
