alembic
boto3
celery==5.3.5
Flask==2.2.4
Flask-Admin
Flask-Login
Flask-WTF
Flask-SocketIO==5.3.6
Flask-SqlAlchemy==3.0.2
gevent==23.9.1
gunicorn
pycurl
PyJWT
pymysql
pytz
redis
requests
stripe
Werkzeug==2.3.7

# For google login
oauthlib
pyOpenSSL

# TODO - Eventually this should be a specific version.
operator @ git+https://github.com/agentsofthesystem/operator@main