alembic
black
boto3
celery==5.3.5
coverage
flake8
Flask==2.2.4
Flask-Admin
Flask-Login
Flask-WTF
Flask-SqlAlchemy==3.0.2
gunicorn
pycurl
PyJWT
pymysql
pytest
redis
requests
selenium
stripe
Werkzeug==2.3.7