<!doctype html>
<html lang="en">

  {% block head%}
    {% include 'layout/head.html' %}
  {% endblock %}

  {% include 'layout/google_analytics.html' %}

  <body>

    {% block navigation %}
      {% include 'layout/app_topbar.html' %}
    {% endblock %}

    {% block content %}
    <main id="displayArea" role="main"> <!--mx-auto flex-column align-items-center justify-content-center">-->
        {% include 'layout/flash_message.html' %}
        {% block area %}

        {% endblock %}
    </main>
    {% endblock %}

    {% block scripts %}
      {% include 'layout/scripts.html' %}
    {% endblock %}

  </body>

</html>
