<head>

    <meta charset="UTF-8">
    <meta name="description" content="The distributed, all-in-one, open-source, solution to self hosted dedicated game servers with a web based control panel in the cloud">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=n">

    <title>{{pretty_name}}</title>

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/socicon.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ url_for('static', filename='assets/css/entypo.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ url_for('static', filename='assets/css/theme.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ url_for('static', filename='assets/css/strength.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'>

    <!-- JQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>

    <!-- Data tables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css" />
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>

    <!-- SocketIO -->
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
</head>
