<div class="container-fluid docs-topnav-child-menu container" style="display: none;">
    <section class="space-lg bg-white">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-around">
                <div class="col">
                    Col 1
                    <div class="row">
                        Doc Item 1
                    </div>
                    <div class="row">
                        Doc Item 2
                    </div>
                </div>
                <div class="col">
                    Col 2
                    <div class="row">
                        Doc Item 3
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>