<div class="container-fluid docs-topnav-child-menu container" style="display: none;">

    <section>

        <div class="container">

          <div class="row justify-content-around mb-4">
            <div class="col-12 col-md-6 col-lg-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="10">
              <i class="text-black h1 icon-compass"></i>
              <h5>Setup Guides</h5>
              <div class="card">
                <ul class="list-group list-group-flush">

                  <li class="list-group-item">
                    <div class="media">
                      <div class="media-body">
                        <h6>Installation</h6>
                        <p><a href="https://github.com/agentsofthesystem/agent-smith/blob/develop/docs/usage.md">Get Started with Agent Smith Here</a></p>
                      </div>
                    </div>
                  </li>

                  <li class="list-group-item">
                    <div class="media">
                      <div class="media-body">
                        <h6>Architect</h6>
                        <p><a href="{{url_for('public.coming_soon')}}"></a> Coming Soon!</p>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
            <!--end of col-->
            <div class="col-12 col-md-6 col-lg-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
              <i class="h1 icon-documents"></i>
              <h5>Help Docs</h5>
              <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="media">
                      <div class="media-body">
                        <h6>Troubleshooting</h6>
                        <p>
                          Join Our Discord and head to the #help channel.
                        </p>
                        <p><a href="https://discord.gg/8y2drprC">Get to Discord here.</a></p>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->

          <div class="row border-top border-dark mb-4">

          </div>

          <div class="row justify-content-around">

            <div class="col-12 col-md-6 col-lg-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
              <i class="h1 icon-user"></i>
              <h5>Developer Documentation</h5>
              <div class="card">
                <ul class="list-group list-group-flush">

                  <li class="list-group-item">
                    <div class="media">
                      <div class="media-body">
                        <h6>Agent Smith API</h6>
                        <p>
                          Coming Soon!
                        </p>
                      </div>
                    </div>
                  </li>

                  <li class="list-group-item">
                    <div class="media">
                      <div class="media-body">
                        <h6>Operator Client Docs</h6>
                        <p>
                          <a href="https://github.com/agentsofthesystem/operator" target="_blank">Learn more about controlling Agent Smith</a>
                        </p>
                      </div>
                    </div>
                  </li>

                  <li class="list-group-item">
                    <div class="media">
                      <div class="media-body">
                        <h6>Developer Tutorials</h6>
                        <p>
                          <a href="https://github.com/agentsofthesystem/agent-smith/blob/develop/docs/getting-started.md#development" target="_blank">Check out the developer tutorials</a>
                        </p>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->

        </div>
        <!--end of container-->
    </section>

</div>