<div class="container-fluid product-topnav-child-menu container" style="display: none;">

  <section>

    <div class="container">

      <div class="row justify-content-around mb-4">
        <div class="col-12 col-md-6 col-lg-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="10">
          <i class="text-teal h1 icon-fingerprint"></i>
          <h5>The Architect</h5>
          <div class="card">
            <ul class="list-group list-group-flush">

              <li class="list-group-item">
                <div class="media">
                  <i class="icon-hand mr-2"></i>
                  <div class="media-body">
                    <h6>Cloud Application</h6>
                    <p>
                      A short description of the aforementioned facet to easily digest. No need to divulge too much information in this text area.
                    </p>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
        <!--end of col-->
        <div class="col-12 col-md-6 col-lg-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <i class="text-purple h1 icon-tablet-mobile-combo"></i>
          <h5>Agent Smith</h5>
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="media">
                  <i class="icon-credit-card mr-2"></i>
                  <div class="media-body">
                    <h6>Payment</h6>
                    <p>
                      A short description of the aforementioned facet to easily digest. No need to divulge too much information in this text area.
                    </p>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->

      <div class="row justify-content-around">
        <div class="col-12 col-md-6 col-lg-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="10">
          <i class="text-teal h1 icon-fingerprint"></i>
          <h5>Collaboration</h5>
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="media">
                  <i class="icon-hand mr-2"></i>
                  <div class="media-body">
                    <h6>Media</h6>
                    <p>
                      A short description of the aforementioned facet to easily digest. No need to divulge too much information in this text area.
                    </p>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
        <!--end of col-->
        <div class="col-12 col-md-6 col-lg-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <i class="text-purple h1 icon-tablet-mobile-combo"></i>
          <h5>Server Controls</h5>
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="media">
                  <i class="icon-credit-card mr-2"></i>
                  <div class="media-body">
                    <h6>Payment</h6>
                    <p>
                      A short description of the aforementioned facet to easily digest. No need to divulge too much information in this text area.
                    </p>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->

    </div>
    <!--end of container-->

  </section>

</div>