{% extends "/email/layouts/base.html" %}

{% block content %}

<h1>Cancelled.</h1>

<p>
    Your subscription has been cancelled. We're sorry to see you go.
</p>

<p>
    You will no longer be billed for your subscription.
</p>

<p>
    If you would like to re-subscribe, you can do so by visiting your account page.
</p>

<p>
    You will continue to have access until the end of your current billing period.
</p>

<p>
    If you have any questions or concerns, please come see us in our Discord server.
</p>

<p></p>

<p style="margin-top: 1em;">
    <small style="color:#8899a6;text-decoration:none;"></small>
</p>

{% endblock %}