{% extends "/email/layouts/base.html" %}

{% block content %}

<h1>You are now an Agent of the System!</h1>
<h2>The Architect Welcomes You.</h2>

{% if verify_link %}
<p>
    <a class="btn btn-primary" href="{{verify_link}}">Click here to verify your email.</a>
</p>
{% endif %}

<p></p>

<p>
    <a class="btn btn-primary" href="https://docs.agentsofthesystem.com/build/html/getting_started.html">Have a look at our Getting Started Docs.</a>
</p>

<p style="margin-top: 1em;">
    <small style="color:#8899a6;text-decoration:none;"></small>
</p>

{% endblock %}