<!doctype html>
<html lang="en">
    {% include 'layout/head.html' %}
    <body>

      {% include 'layout/landing_topbar.html' %}

      <div class="main-container">

        <section class="bg-white">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-md-9 col-lg-8 text-center">
                <h1 class="display-3">Team</h1>
                <span class="lead">
                  A software engineer with a passion for software development and gaming.  Working
                  with my friends, our goal is to make your Dedicated Game Server Hosting Experience
                  as collaborative and easy as possible.
                </span>
              </div>
              <!--end of col-->
            </div>
            <!--end of row-->
          </div>
          <!--end of container-->
        </section>
        <!--end of section-->

        <section class="bg-dark">
          <div class="container">
            <div class="border rounded row justify-content-center">
              <div class="col-12 col-md-9 col-lg-8 text-center">
                <h1 class="display-3">Mission</h1>
                <span class="lead">
                  Agents of the System exists to empower friend groups to quickly and easily set up and
                  manage their Dedicated Game Servers collaboratively.
                </span>
              </div>
              <!--end of col-->
            </div>
            <!--end of row-->
          </div>
          <!--end of container-->
        </section>
        <!--end of section-->

        <section class="bg-white">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-md-8">
                <div class="media">
                  <img class="mr-md-5 avatar avatar-xlg" src="{{ url_for('static', filename='assets/img/JKR_Cartoon_Professional.svg') }}" />
                  <div class="media-body">
                    <div class="mb-3">
                      <h1 class="h2 mb-2">Joshua Reed</h1>
                      <span class="text-muted">Founder, Software Engineer, Gamer, Maker, Pilot...</span>
                    </div>
                    <p>
                      With a background in Aerospace and Computer Engineering, Joshua has been writing
                      code for all sorts of projects since 2010, and he is passion about building tools,
                      automation, and solving problems.
                    </p>
                  </div>
                </div>
              </div>
              <!--end of col-->
            </div>
            <!--end of row-->
          </div>
          <!--end of container-->
        </section>
        <!--end of section-->

        {% include 'layout/footer.html' %}

      </div>
      {% include 'layout/scripts.html' %}
    </body>
</html>