<div class="container">
    <div class="row justify-content-center">

      <!--end of col-->
      <div class="col-md-6 col-lg-5">
        <div class="card pricing card-lg">
          <div class="card-body">
            <span class="h4 text-red">Red Pill</span>
            <span class="display-3">$10</span>
            <span class="text-small">per / month</span>
            <ul class="list-unstyled"></ul>
            <button id="pro-monthly-btn" class="btn btn-lg btn-success">Subscribe</button>
          </div>
        </div>
        <!--end card-->
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
</div>

<script>

    document
      .getElementById("pro-monthly-btn")
      .addEventListener("click", function (evt) {
        window.location.href = '/app/create-checkout-session?price_type=price_id_1'
      });

  </script>