<!doctype html>
<html lang="en">
{% include 'layout/head.html' %}
{% include 'layout/google_analytics.html' %}

<body>
  {% include 'layout/landing_topbar.html' %}

  <div class="main-container">
    <section class="bg-white">
      <div class="container">
        <div class="row justify-content-center mb-2">
            <h1 class="display-4">Privacy Policy</h1>
        </div>
        <div class="row justify-content-start mb-2">
          <h2>Last Updated: 06/23/2024</h2>
        </div>
        <div class="row justify-content-start">
          <article>
            <h5 class="mb-1"><u>1. Introduction</u></h5>
            <h5 class="mb-1"><u>2. Definitions</u></h5>
            <h5 class="mb-1"><u>3. Information Collection and Use</u></h5>
            <h5 class="mb-1"><u>4. Types of Data Collected</u></h5>
            <h5 class="mb-1"><u>5. Use of Data</u></h5>
            <h5 class="mb-1"><u>6. Retention of Data</u></h5>
            <h5 class="mb-1"><u>7. Transfer of Data</u></h5>
            <h5 class="mb-1"><u>8. Disclosure of Data</u></h5>
            <h5 class="mb-1"><u>9. Security of Data</u></h5>
            <h5 class="mb-1"><u>10. Your Data Protection Rights Under General Data Protection Regulation (GDPR)</u></h5>
            <h5 class="mb-1"><u>11. Your Data Protection Rights under the California Privacy Protection Act (CalOPPA)</u></h5>
            <h5 class="mb-1"><u>12. Service Providers</u></h5>
            <h5 class="mb-1"><u>13. Analytics</u></h5>
            <h5 class="mb-1"><u>14. CI/CD tools</u></h5>
            <h5 class="mb-1"><u>15. Payments</u></h5>
            <h5 class="mb-1"><u>16. Links to Other Sites</u></h5>
            <h5 class="mb-1"><u>17. Children's Privacy</u></h5>
            <h5 class="mb-1"><u>18. Changes to This Privacy Policy</u></h5>
            <h5 class="mb-1"><u>19. Contact Us</u></h5>
          </article>
        </div>
      </div>
      <!--end of row-->
  </div>
  <!--end of container-->
  </section>
  <!--end of section-->


  {% include 'layout/footer.html' %}
  </div>
  {% include 'layout/scripts.html' %}
</body>

</html>