<!doctype html>
<html lang="en">

{% include 'layout/head.html' %}
{% include 'layout/google_analytics.html' %}

<body>
  {% include 'layout/landing_topbar.html' %}

  <div class="main-container">
    <section class="bg-white">
      <div class="container">

          <div class="row justify-content-center mb-2">
            <h1 class="display-4">Terms & Conditions</h1>
          </div>
          <div class="row justify-content-start mb-2">
            <h2>Last Updated: 06/23/2024</h2>
          </div>
          <div class="row justify-content-start">
            <article>
              <h5 class="mb-1"><u>1. Introduction</u></h5>
              <p>
                This web page represents our Terms of Use and Sale ("Agreement") regarding our websites, located at <a href="https://www.agentsofthesystem.com">https://www.agentsofthesystem.com</a>, and the tools we provide you (the "Website" or the "Service").
              </p>
              <p>We may amend this Agreement at any time by posting the amended terms on our Website. We may or may not post notices on the homepage of our Website when such changes occur.</p>
              <p>
                We refer to this Agreement, our Privacy Policy accessible at <a href="https://www.agentsofthesystem.io/privacy/policy">https://www.agentsofthesystem.io/privacy/policy</a>,
                and any other terms, rules, or guidelines on our Website collectively as our "Legal Terms." You explicitly and implicitly agree to be bound by our Legal Terms each time you access our Website.
                If you do not wish to be so bound, please do not use or access our Website.
              </p>

              <h5 class="mb-1"><u>2. Limited License</u></h5>
              <p>
                Agents of the System grants you a non-exclusive, non-transferable, revocable license to access and use our Website in order for you to make purchases of electronic documents and related services through our Website, strictly in accordance with our Legal Terms.
              </p>

              <h5 class="mb-1"><u>3. Copyright and Trademarks</u></h5>
              <p>
                Unless otherwise noted, all materials including without limitation, logos, brand names, images, designs, photographs, video clips and written and other materials that appear as part of our Website are copyrights,
                trademarks, service marks, trade dress and/or other intellectual property whether registered or unregistered ("Intellectual Property") owned, controlled or licensed by Agents of the System. Our Website as a whole is
                protected by copyright and trade dress. Nothing on our Website should be construed as granting, by implication, estoppel or otherwise, any license or right to use any Intellectual Property displayed or used on our Website,
                without the prior written permission of the Intellectual Property owner. Agents of the System aggressively enforces its intellectual property rights to the fullest extent of the law. The names and logos of Agents of the System,
                 may not be used in any way, including in advertising or publicity pertaining to distribution of materials on our Website, without prior, written permission from Agents of the System. Agents of the System prohibits use of any
                 logo of Agents of the System or any of its affiliates as part of a link to or from any Website unless Agents of the System approves such link in advance and in writing. Fair use of Agents of the System's Intellectual Property
                  requires proper acknowledgment. Other product and company names mentioned in our Website may be the Intellectual Property of their respective owners.
              </p>

              <h5 class="mb-1"><u>4. Links to Third-Party Websites</u></h5>
              <p>
                Our Website may contain links to Websites owned or operated by parties other than Agents of the System. Such links are provided for your reference only.
                Agents of the System does not monitor or control outside Websites and is not responsible for their content. Agents of the System inclusion of links to an
                outside Website does not imply any endorsement of the material on our Website or, unless expressly disclosed otherwise, any sponsorship, affiliation or association with its owner,
                operator or sponsor, nor does Agents of the System inclusion of the links imply that Agents of the System is authorized to use any trade name, trademark, logo,
                legal or official seal, or copyrighted symbol that may be reflected in the linked Website.
              </p>

              <h5 class="mb-1"><u>5. Content Disclaimer</u></h5>
              <p>
                Postings on our Website are made at such times as Agents of the System determines in its discretion.
                You should not assume that the information contained on our Website has been updated or otherwise contains current information.
                Agents of the System does not review past postings to determine whether they remain accurate and information contained in such postings may have been superseded.
                THE INFORMATION AND MATERIALS IN OUR WEBSITE ARE PROVIDED FOR YOUR REVIEW IN ACCORDANCE WITH THE NOTICES, TERMS AND CONDITIONS SET FORTH HEREIN.
                THESE MATERIALS ARE NOT GUARANTEED OR REPRESENTED TO BE COMPLETE, CORRECT OR UP TO DATE. THESE MATERIALS MAY BE CHANGED FROM TIME TO TIME WITHOUT NOTICE.
              </p>

              <h5 class="mb-1"><u>6. Service Disclaimer</u></h5>
              <p>
                You understand that we offer online services ("Services"), as created and/or verified by for sale through our Website.
                You acknowledge that Agents of the System will perform due effort to ensure the service is accessible to you, but Agents of the System makes
                no guarantee the accessibility of the service, nor do we compensate for any financial damage caused by lack of service accessibility,
                or loss of any kinds by the use of our service.
              </p>

              <h5 class="mb-1"><u>7. Refunds</u></h5>
              <p>We issue refunds for Contracts within 48 hours of the original purchase of the Service.</p>

              <h5 class="mb-1"><u>8. No Warranties; Exclusion of Liability; Indemnification</u></h5>

              <p>
                OUR WEBSITE IS OPERATED BY Agents of the System ON AN "AS IS," "AS AVAILABLE" BASIS, WITHOUT REPRESENTATIONS OR WARRANTIES OF ANY KIND.
                TO THE FULLEST EXTENT PERMITTED BY LAW, Agents of the System SPECIFICALLY DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND,
                INCLUDING ALL IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
                TITLE AND NONINFRINGEMENT FOR OUR WEBSITE AND ANY CONTRACTS AND SERVICES YOU PURCHASE THROUGH IT. Agents of the System SHALL NOT HAVE ANY LIABILITY OR
                RESPONSIBILITY FOR ANY ERRORS OR OMISSIONS IN THE CONTENT OF OUR WEBSITE, FOR CONTRACTS OR SERVICES SOLD THROUGH OUR WEBSITE,
                FOR YOUR ACTION OR INACTION IN CONNECTION WITH OUR WEBSITE OR FOR ANY DAMAGE TO YOUR COMPUTER OR DATA OR ANY OTHER DAMAGE YOU MAY INCUR IN CONNECTION WITH OUR WEBSITE.
                YOUR USE OF OUR WEBSITE AND ANY CONTRACTS OR SERVICES ARE AT YOUR OWN RISK.
                IN NO EVENT SHALL EITHER Agents of the System OR THEIR AGENTS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL,
                SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF OUR WEBSITE, CONTRACTS AND SERVICES PURCHASED THROUGH OUR WEBSITE,
                THE DELAY OR INABILITY TO USE OUR WEBSITE OR OTHERWISE ARISING IN CONNECTION WITH OUR WEBSITE, CONTRACTS OR RELATED SERVICES, WHETHER BASED ON CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE,
                EVEN IF ADVISED OF THE POSSIBILITY OF ANY SUCH DAMAGES. IN NO EVENT SHALL Agents of the System’
                LIABILITY FOR ANY DAMAGE CLAIM EXCEED THE AMOUNT PAID BY YOU TO Agents of the System FOR THE TRANSACTION GIVING RISE TO SUCH DAMAGE CLAIM.
              </p>

              <p>
                SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE EXCLUSION MAY NOT APPLY TO YOU.
              </p>

              <p>
                WITHOUT LIMITING THE FOREGOING, Agents of the System DO NOT REPRESENT OR WARRANT THAT THE INFORMATION ON THE WEBSITE IS ACCURATE,
                COMPLETE, RELIABLE, USEFUL, TIMELY OR CURRENT OR THAT OUR WEBSITE WILL OPERATE WITHOUT INTERRUPTION OR ERROR.
              </p>

              <p>
                YOU AGREE THAT ALL TIMES, YOU WILL LOOK TO ATTORNEYS FROM WHOM YOU PURCHASE SERVICES FOR ANY CLAIMS OF ANY NATURE,
                INCLUDING LOSS, DAMAGE, OR WARRANTY. Agents of the System AND THEIR RESPECTIVE AFFILIATES MAKE NO
                REPRESENTATION OR GUARANTEES ABOUT ANY CONTRACTS AND SERVICES OFFERED THROUGH OUR WEBSITE.
              </p>

              <p>
                Agents of the System MAKES NO REPRESENTATION THAT CONTENT PROVIDED ON OUR WEBSITE, CONTRACTS,
                OR RELATED SERVICES ARE APPLICABLE OR APPROPRIATE FOR USE IN ALL JURISDICTIONS.
              </p>

              <h5 class="mb-1"><u>9. Indemnification</u></h5>

              <p>
                You agree to defend, indemnify and hold Agents of the System harmless from and against any and all claims, damages, costs and expenses,
                including attorneys' fees, arising from or related to your use of our Website or any Contracts or Services you purchase through it.
              </p>

            </article>
          </div>

      </div>
      <!--end of container-->
    </section>
    <!--end of section-->
  </div>


  {% include 'layout/footer.html' %}

  {% include 'layout/scripts.html' %}
</body>

</html>