<!doctype html>
<html lang="en">

{% include 'layout/head.html' %}
{% include 'layout/google_analytics.html' %}

<body>
  {% include 'layout/landing_topbar.html' %}

  <div class="main-container">
    <section class="bg-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7">
            <h1 class="display-4">Terms & Conditions</h1>
            <p>
              Agents of the System is Free software. The open source components are licensed and
              this web application is a free tool.
            </p>
            <p>
              This software comes with no warranty.  Use at your own risk.
            </p>
          </div>
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
  </div>
  <!--end of container-->
  </section>
  <!--end of section-->


  {% include 'layout/footer.html' %}
  </div>
  {% include 'layout/scripts.html' %}
</body>

</html>