<!doctype html>
<html lang="en">
    {% include 'uix/layout/head.html' %}
    <body>
    {% include 'uix/layout/landing_topbar.html' %}

    <div class="main-container">
        <section class="bg-white">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-md-10 col-lg-7">
                <h1 class="display-4">About - {{pretty_name}}</h1>
                <span class="lead">And the Agents of the System...</span>
              </div>
              <!--end of col-->
            </div>
            <!--end of row-->
          </div>
          <!--end of container-->
        </section>
        <!--end of section-->
        <section>
          <article class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-md-8 col-lg-6">
                <p>
                  Write a new description about Agents of the System, The Architect, and Agent Smith.
                </p>
              </div>

            </div>
            <!--end of row-->
          </article>
          <!--end of container-->
        </section>
        {% include 'uix/layout/footer.html' %}
    </div>
    {% include 'uix/layout/scripts.html' %}
    </body>
</html>