{% extends "uix/layout/base.html" %}

{% block area %}
<div class="col text-center">

    <section>
        <div class="container">
            <!--end of row-->
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <ul class="feature-list feature-list-sm row">

                        <li class="col-6 col-md-4">
                            <a class="card text-center" href="#">
                                <div class="card-body">
                                    <i class="icon-area-graph text-red display-4"></i>
                                    <h6 class="title-decorative">Agents</h6>
                                </div>
                            </a>
                        </li>

                        <li class="col-6 col-md-4">
                            <a class="card text-center" href="#">
                                <div class="card-body">
                                    <i class="icon-power-plug text-orange display-4"></i>
                                    <h6 class="title-decorative">Crews</h6>
                                </div>
                            </a>
                        </li>

                        <li class="col-6 col-md-4">
                            <a class="card text-center" href="#">
                                <div class="card-body">
                                    <i class="icon-code text-yellow display-4"></i>
                                    <h6 class="title-decorative">Friends</h6>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->

</div>
{% endblock %}