<!doctype html>
<html lang="en">
    {% include 'uix/layout/head.html' %}
    <body>
    {% include 'uix/layout/landing_topbar.html' %}

    <div class="main-container">

        <section class="space-lg bg-white">
            <div class="container">
              <div class="row align-items-center justify-content-around">
                <div class="col-12 col-md-6 col-lg-5 text-center text-md-left section-intro">
                  <h1 class="display-5"><strong>Agents of the System</strong></h1>
                  <span class="lead">
                    Join forces with Agent Smith and The Architect to manage your Dedicated Game Servers
                    directly on your own hardware.  Make friend groups and manage
                    your servers your way.  A distributed approach to collaborative Dedicated Game
                    Server administration.
                  </span>
                  <a href="/signup" class="btn btn-success btn-lg">Join The System</a>
                </div>
                <!--end of col-->
                <div class="col-12 col-md-6 col-lg-6">
                  <!--<img alt="Image" class="img-fluid w-100" src="{{ url_for('static', filename='uix/assets/img/graphic-golden-gate-bridge.svg') }}" />-->
                  <img alt="Image" class="img-fluid w-100" src="{{ url_for('static', filename='uix/assets/img/city-skyline-silhouette.png') }}" />
                </div>
                <!--end of col-->
              </div>
              <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <!--end of section-->

        <section>
          <div class="container">
            <div class="row justify-content-center text-center section-intro">
              <div class="col-12 col-md-9 col-lg-8">
                <h2 class="display-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">What are the Agents of the System?</h2>
                <span class="lead aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">The Architect runs in your browser & Agent Smith on your PC.  Stick with Agent Smith or join forces with The Architect. The choice is yours.</span>
              </div>
              <!--end of col-->
            </div>
            <!--end of row-->

            <div class="row justify-content-around">
              <div class="col-12 col-md-6 col-lg-5 aos-init aos-animate text-center data-aos="fade-up" data-aos-delay="10">
                <img class="avatar rounded avatar-sm mb-2" src="{{ url_for('static', filename='uix/assets/img/app-logo.svg') }}" />
                <h5>The Architect</h5>
                <p>
                  A Cloud Hosted Control Panel for Agents which control your dedicated game servers, and also a Social Platform.
                </p>
                <div class="card">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <div class="media">
                        <div class="media-body">
                          <h6><i class="icon-classic-computer mr-2"></i>Agent Management</h6>
                          <p>
                            The Architect can manage as many Agent Smith instances across you and
                            your friend group as needed.
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="media">
                        <div class="media-body">
                          <h6><i class="icon-users mr-2"></i>Collaboration</h6>
                          <p>
                            Build up a network of friends and create groups. Collectively pool as many Agent Smith
                            copies as you like and share access.
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="media">
                        <div class="media-body">
                          <h6><i class="icon-tools mr-2"></i>Automation</h6>
                          <p>
                            The Architect's goal is to seemlessly automate the managment of dedicated
                            game servers.
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <!--end of col-->
              <div class="col-12 col-md-6 col-lg-5 aos-init aos-animate text-center" data-aos="fade-up" data-aos-delay="100">
                <img class="avatar rounded avatar-sm mb-2" src="{{ url_for('static', filename='uix/assets/img/agent-black.svg') }}"/>
                <h5>Agent Smith</h5>
                <p>
                  Self-contained Python-Based Agent Software that can manage your dedicated game servers locally, and may also
                  be used with The Architect.
                </p>
                <div class="card">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <div class="media">
                        <div class="media-body">
                          <h6><i class="icon-classic-computer mr-2"></i>Dedicated Server Management</h6>
                          <p>
                            Installs, maintains, and provides server management capability.
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="media">
                        <div class="media-body">
                          <h6><i class="icon-tools mr-2"></i>Control</h6>
                          <p>
                            Provide an API, Tokenized Access, and secure SSL communication to any
                            friend you want or connect to the Architect.
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="media">
                        <div class="media-body">
                          <h6><i class="icon-game-controller mr-2"></i>Transformation</h6>
                          <p>
                            Turn any PC into a potential host... <a href="https://docs.agentsofthesystem.com/build/html/agent_smith/supported-game-servers.html">See our supported games</a>
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <!--end of col-->
            </div>
            <!--end of row-->

            <div class="row justify-content-center text-center section-outro">
              <div class="col-lg-4 col-md-5">
                <h6>The System</h6>
                <p>All the software tools together collectively make up Agents of The System.</p>
              </div>
              <!--end of col-->
            </div>
            <!--end of row-->

          </div>
          <!--end of container-->
        </section>
        <!--end of section-->

        <section>

            <div class="container">

              <div class="row justify-content-center text-center section-intro">

                <div class="col-12 col-md-9 col-lg-8">
                  <h2 class="display-4" data-aos="fade-up" data-aos-delay="100">Why Agents of the System?</h2>
                </div>
                <!--end of col-->

              </div>
              <!--end of row-->

              <div class="row justify-content-around">

                <div class="col-12 col-lg-6 mb-4">
                  <div class="tab-content">
                    <!-- One of these for each tab panel, potentially.-->
                    <div class="tab-pane fade show active" id="content-1" role="tabpanel">
                      <img alt="Image" class="img-fluid w-100" src="{{ url_for('static', filename='uix/assets/img/graphic-imac-interface.svg') }}" />
                    </div>
                  </div>
                </div>

                <!--end of col-->
                <div class="col-lg-5 col-md-8">
                  <ul class="nav nav-cards" role="tablist">

                    <li data-aos="fade-up" data-aos-delay="50">
                      <a class="card active" data-toggle="tab" href="#content-1" role="tab" aria-controls="content-1" aria-selected="true">
                        <div class="card-body">
                          <h5>Free & Open Source</h5>
                          <p>
                            Agents Smith, The Operator, and all documentation are 100% free to use and open source.
                          </p>
                        </div>
                      </a>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="100">
                      <a class="card" data-toggle="tab" href="#content-2" role="tab" aria-controls="content-2" aria-selected="false">
                        <div class="card-body">
                          <h5>Hybrid - Scalable Distributed Cloud Approach</h5>
                          <p>
                            Agents of the System solves dedicated server management and automation by
                            using a distributed systems approach.  Other solutions available are
                            monolithic in nature, or require a lot of setup to achieve your goal, which
                            is simply running your dedicated game server.
                          </p>
                        </div>
                      </a>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="150">
                      <a class="card" data-toggle="tab" href="#content-3" role="tab" aria-controls="content-3" aria-selected="false">
                        <div class="card-body">
                          <h5>User Friendly</h5>
                          <p>
                            No need to set anything up beyond Agent Smith.  No special pre-requisite software to install.
                            Simply download and run it.  Written 99% in python and made to run self-contained.  Everything
                            else is in the Cloud. No setup required.
                            <a href="https://docs.agentsofthesystem.com/build/html/getting_started.html" target="_blank">Get Started Here!</a>
                          </p>
                        </div>
                      </a>
                    </li>

                  </ul>
                </div>
                <!--end of col-->
              </div>
              <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <!--end of section-->

        {% include 'uix/layout/footer.html' %}

    </div>

    {% include 'uix/layout/scripts.html' %}
    </body>
</html>