{% extends "uix/layout/base.html" %}

{% block area %}
<meta name="csrf-token" content="{{ csrf_token() }}">
<meta name="agent-info-id" content="{{ agent_info['agent']['agent_id'] }}">

<!-- Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="message-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agent is Unreachable</h5>
      </div>

      <div class="modal-body">
        <p>There has been an error retrieving information from the Agent. It's not reachable
          at the Host/Port provided.</p>

        <p>Please go back to the <a href="{{url_for('protected.system_agents')}}">Agents</a> page.</p>

      </div>

      <div class="modal-footer">
        <a type="button" class="btn btn-secondary" href="{{url_for('protected.system_agents')}}">Go to Agents Page</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="gameServerActionInProgress" tabindex="-1" role="dialog" aria-labelledby="message-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered d-flex justify-content-center " role="document">
    <div class="spinner-border text-success" style="width: 8rem; height: 8rem;" role="status">
      <span class="sr-only">Pending...</span>
    </div>
  </div>
</div>

<div class="col">

  <section class="bg-white space-sm">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col">
          <div class="media align-items-center">
            {% if current_user.user_id == agent_info['agent']['owner_id'] %}
            <img alt="I own this Agent" src="{{ url_for('static', filename='uix/assets/img/agent.png') }}"
              class="avatar avatar-lg avatar-square rounded" />
            {% else %}
            <img alt="Shared Agent" src="{{ url_for('static', filename='uix/assets/img/agent-green.png') }}"
              class="avatar avatar-lg avatar-square rounded" />
            {% endif %}
            <div class="media-body">
              <h1 class="mb-0"><strong>Agent Name:</strong> {{agent_info['agent']['name']}} </h1>
              <h2 class="lead mb-2">Agent URL/Port: {{agent_info['agent']['hostname']}}:{{agent_info['agent']['port']}}
              </h2>
              <div class="d-flex align-items-center">
                <span class="badge badge-secondary mr-3">Owned By: {{agent_info['agent']['owner']['username']}}</span>
                <ul class="list-inline text-small d-inline-block">
                  <!-- Groups -->
                  <li class="list-inline-item"><i class="icon-globe"></i> Groups: {{agent_info['num_groups']}}</li>
                  <!-- Groups -->
                  <li class="list-inline-item"><i class="icon-game-controller"></i> Friends:
                    {{agent_info['num_friends']}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--end of col-->
        <!--  TODO - Implement in next version.
        <div class="col-auto">
          <div class="btn-group mb-2">
            <button type="button" class="btn btn-success btn-lg">Shutdown</button>
            <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split dropdown-toggle-no-arrow"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-dots-three-horizontal"></i>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm">
              <a class="dropdown-item">Install Game Server</a>
            </div>
          </div>
        </div>
        -->
        <!--end of col-->
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <!--end of section-->

  <section class="height-5">
    <div class="container">
      <ul class="feature-list feature-list-sm row">
        {% set is_disabled = "disabled='true'" if current_user.user_id != agent_info['agent']['owner_id'] else "" %}
        <li class="col-sm">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <div>
                <span class="h6">Group Members</span>
                <span class="badge badge-secondary">{{agent_info['num_groups']}}</span>
              </div>
            </div>
            <div class="card-body">
              <ul class="list-unstyled list-spacing-sm">
                {% for group in agent_info['groups'] %}
                <li>
                  <div class="input-group">
                    <input class="form-control form-control-lg" type="text"
                      value="{{group['name']}} (Owner: {{group['owner']['username']}})" disabled="true">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary remove-group-from-agent" type="button"
                        id="{{group['agent_group_member_id']}}" {{is_disabled}}><i
                          class="icon-circle-with-cross"></i></button>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <!--end of card-->
        </li>
        <!--end of col-->

        <li class="col-sm">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <div>
                <span class="h6">Friend Members</span>
                <span class="badge badge-secondary">{{agent_info['num_friends']}}</span>
              </div>
            </div>
            <div class="card-body">
              <ul class="list-unstyled list-spacing-sm">
                {% for friend in agent_info['friends'] %}
                <li>
                  <div class="input-group">
                    <input class="form-control form-control-lg" type="text" value="{{friend['username']}}"
                      disabled="true">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary remove-friend-from-agent" type="button"
                        id="{{friend['agent_friend_member_id']}}" {{is_disabled}}><i
                          class="icon-remove-user"></i></button>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <!--end of card-->
        </li>
        <!--end of col-->

      </ul>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <!--end of section-->

  <section class="flush-with-above mt-1" id="agent-info-section">

    <div class="container">
      <div class="row justify-content-between">

        <div class="col">

          <h3 class="mb-1">Platform:</h3>

          <div class="align-items-center">

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div><i class="icon-keyboard mr-1"></i>Name: </div>
                  <span id="data-platform-name">TBD</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div><i class="icon-classic-computer mr-1"></i>Machine: </div>
                  <span id="data-platform-machine">TBD</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div><i class="icon-suitcase mr-1"></i>OS: </div>
                  <span id="data-platform-os">TBD</span>
                </div>
              </li>
            </ul>
          </div>

        </div>
        <!--end of col-->

        <div class="col">

          <h3 class="mb-1">CPU:</h3>

          <div class="align-items-center">

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div><i class="icon-ruler mr-1"></i>Freq Max:</div>
                  <span id="data-cpu-freq">TBD</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div><i class="icon-code mr-1"></i>Physical Cores:</div>
                  <span id="data-cpu-physical-cores">TBD</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div><i class="icon-plus mr-1"></i>Total Cores:</div>
                  <span id="data-cpu-total-cores">TBD</span>
                </div>
              </li>
            </ul>
          </div>

        </div>
        <!--end of col-->

        <div class="col">

          <h3 class="mb-1">Memory: </h3>

          <div class="align-items-center">

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div><i class="icon-plus mr-1"></i>Total:</div>
                  <span id="data-memory-total">TBD</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div><i class="icon-code mr-1"></i>Available:</div>
                  <span id="data-memory-available">TBD</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div><i class="icon-direction mr-1"></i>Used:</div>
                  <span id="data-memory-used">TBD</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div><i class="icon-gauge mr-1"></i>Usage %</div>
                  <span id="data-memory-usage">TBD</span>
                </div>
              </li>
            </ul>
          </div>

        </div>
        <!--end of col-->

      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <!--end of section-->

  <section class="flush-with-above" id="agent-game-info-section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col">
          <table class="table table-borderless table-hover align-items-center">
            <thead>
              <tr>
                <th scope="col">Game Server </th>
                <th scope="col">PID</th>
                <th scope="col">Last Update</th>
                <th scope="col">Build</th>
                <th scope="col">Branch</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody class="bg-white" id="game-server-table-body">
              <!-- This gets filled in via websocket/javascript -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <!--end of section-->

</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>

  var socket = io("/system/agent/info");
  var agent_info_base_url = "/app/system/agent/info"

  function reloadAgentInfo(agent_id){
    document.location.href = agent_info_base_url + '/' + agent_id;
  }

  document.addEventListener('keydown', function(event) {
    // Check if F5 key was pressed
    var agent_id = $('meta[name=agent-info-id]').attr('content');

    if (event.keyCode === 116) {
        // Prevent the default behavior of the F5 key (page reload)
        event.preventDefault();

        reloadAgentInfo(agent_id);
    }
  });

  $(document).ready(function () {

    var csrftoken = $('meta[name=csrf-token]').attr('content');
    var agent_id = $('meta[name=agent-info-id]').attr('content');

    $.ajaxSetup({
      beforeSend: function (xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
      }
    })

    // Takes out the agent id. So it doesn't show up in URL and give people ideas.
    window.history.replaceState(null, "", agent_info_base_url);

    var agent_info_section = $("#agent-info-section")[0];
    var agent_game_info_section = $("#agent-game-info-section")[0];

    $("#gameServerActionInProgress").modal('show');
    $(agent_info_section).hide();
    $(agent_game_info_section).hide()

    socket.on('connect', function () {
      setTimeout(() =>
        socket.emit('get_agent_info', { "agent_id": agent_id }),
        100
      )
    });

    socket.on("respond_agent_info", function (data) {

      var agent_id = data['agent_id'];
      var agent_info = data['agent_info'];

      console.log("Agent ID: " + agent_id + " responded with its info.");

      if (agent_info == "Error") {
        // Show the error modal...
        $("#gameServerActionInProgress").modal('hide');
        $("#errorModal").modal('show');
        return;
      }

      // Platform
      $("#data-platform-name")[0].innerHTML = agent_info['platform']['node_name'];
      $("#data-platform-machine")[0].innerHTML = agent_info['platform']['machine'];
      $("#data-platform-os")[0].innerHTML = agent_info['platform']['system'] + " " + agent_info['platform']['version'];

      // CPU
      $("#data-cpu-freq")[0].innerHTML = agent_info['cpu']['max_frequency'];
      $("#data-cpu-physical-cores")[0].innerHTML = agent_info['cpu']['physical_cores'];
      $("#data-cpu-total-cores")[0].innerHTML = agent_info['cpu']['total_cores'];

      // Memory
      $("#data-memory-total")[0].innerHTML = agent_info['memory']['total'];
      $("#data-memory-available")[0].innerHTML = agent_info['memory']['available'];
      $("#data-memory-used")[0].innerHTML = agent_info['memory']['used'];
      $("#data-memory-usage")[0].innerHTML = agent_info['memory']['percentage'];

      var game_server_table = $("#game-server-table-body")[0]
      game_server_table.innerHTML = "";

      for (let i = 0; i < agent_info['games'].length; ++i) {

        var game = agent_info['games'][i];

        var new_row = document.createElement('tr');

        let game_server_name = game['game_name'];
        let game_server_pretty_name = game['game_pretty_name'];
        let game_last_update = game['game_last_update']
        let game_server_pid = game['game_pid'] == null ? "N/A" : game['game_pid'];
        let game_server_status_badge = game['game_status'] == "Not Running" ? "badge-danger" : "badge-success";
        let game_server_status = game['game_status'];
        let game_steam_build_id = game['game_steam_build_id']
        let game_steam_build_branch = game['game_steam_build_branch']
        let drop_down_menu = ''

        // Show the correct set of buttons.
        if( game['game_status'] == "Running" ) {
          drop_down_menu = `
            <a class="dropdown-item stop-game-server" onclick="shutdownGameServer('${game_server_name}')">Stop Server</a>
            <a class="dropdown-item restart-game-server" onclick="restartGameServer('${game_server_name}')">Restart Server</a>
          `
        }
        else {
          drop_down_menu = `
            <a class="dropdown-item start-game-server" onclick="startupGameServer('${game_server_name}')">Start Server</a>
            <a class="dropdown-item update-game-server" onclick="updateGameServer('${game_server_name}')">Update</a>
          `
        }

        new_row.innerHTML = `
          <td>${game_server_pretty_name}</td>
          <td>${game_server_pid}</td>
          <td>${game_last_update}</td>
          <td>${game_steam_build_id}</td>
          <td>${game_steam_build_branch}</td>
          <td><span class="badge ${game_server_status_badge}">${game_server_status}</span></td>
          <td>
            <div class="dropdown">
              <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon-dots-three-horizontal"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-sm">
                ${drop_down_menu}
              </div>
            </div>
          </td>
        `
        /*
        TODO - Add ability to uninstall at a later day.
        <div class="dropdown-divider"></div>
        <a class="dropdown-item uninstall-game-server">Uninstall</a>
        */

        game_server_table.appendChild(new_row)
      }

      $("#gameServerActionInProgress").modal('hide');
      $(agent_info_section).show();
      $(agent_game_info_section).show();

    });

    socket.on("respond_action_result", function (data) {

      console.log("Result endpoint responded...");

      var result = data['result'];
      var attempt_limit = 10;
      var wait_time = 5000;

      if (result == "Error" || result == "error") {
        $("#gameServerActionInProgress").modal('hide');
        $("#errorModal").modal('show');
        return
      }

      var agent_id = data['agent_id'];
      var action = data['action'];
      var game_name = data['game_name'];
      var attempt_number = Number(data['attempt_number']);

      status = result['status']

      if (attempt_number > attempt_limit) {
        console.log("Result Attempt limit reached.");
        reloadAgentInfo(agent_id);
        return
      }

      if (action == "startup" || action == "restart") {

        // Want the final state to be running...
        if (status == "Running") {
          console.log("Game Server has reached started state. Action is finished!")
          $("#gameServerActionInProgress").modal('hide');
          setTimeout(() =>
            reloadAgentInfo(agent_id),
            500
          )
        }
        else {
          setTimeout(() =>
            socket.emit("get_action_result", {
                "agent_id": agent_id,
                "action": action,
                "game_name": game_name,
                "attempt_number": attempt_number + 1
              }
            ),
          wait_time)
        }

      }
      else if (action == "shutdown") {
        // Want the final state to be running...
        if (status == "Not Running") {
          console.log("Game Server has reached shutdown state. Action is finished!")
          $("#gameServerActionInProgress").modal('hide');
          setTimeout(() =>
            reloadAgentInfo(agent_id),
            500
          )
        }
        else {
          setTimeout(() =>
            socket.emit("get_action_result", {
                "agent_id": agent_id,
                "action": action,
                "game_name": game_name,
                "attempt_number": attempt_number + 1
              }
            ),
          wait_time)
        }
      }
      else if (action == "update") {
        if ( status == "complete"){
          console.log("Game server update has completed updating. Action is finished!")
          $("#gameServerActionInProgress").modal('hide');
          setTimeout(() =>
            reloadAgentInfo(agent_id),
            500
          )
        }
        else{
          setTimeout(() =>
            socket.emit("get_action_result", {
                "agent_id": agent_id,
                "action": action,
                "game_name": game_name,
                "attempt_number": attempt_number + 1
              }
            ),
          wait_time)
        }
      }
    });
  });

  function updateGameServer(game_name) {

    console.log("Updating Game Server for " + game_name);

    var agent_id = $('meta[name=agent-info-id]').attr('content');
    var json_data = `{"agent_id": ${agent_id}, "game_name": "${game_name}"}`;

    $.ajax({
      type: "POST",
      url: "/app/backend/game/server/control/update",
      contentType: 'application/json',
      dataType: "json",
      data: JSON.stringify(json_data),
      success: function () {
        console.log("Updating Game Server for " + game_name + ' on agent id: ' + agent_id);
        handleActionResult(agent_id, "update", game_name);
      },
      error: function () {
        console.log('error!');
        handleActionResult(agent_id, "error", game_name);
      }
    });

  };

  function startupGameServer(game_name) {

    console.log("Starting Game Server for " + game_name);

    var agent_id = $('meta[name=agent-info-id]').attr('content');
    var json_data = `{"agent_id": ${agent_id}, "game_name": "${game_name}"}`;

    $.ajax({
      type: "POST",
      url: "/app/backend/game/server/control/startup",
      contentType: 'application/json',
      dataType: "json",
      data: JSON.stringify(json_data),
      success: function () {
        console.log("Starting Game Server for " + game_name + ' on agent id: ' + agent_id);
        handleActionResult(agent_id, "startup", game_name);
      },
      error: function () {
        console.log('error!');
        handleActionResult(agent_id, "error", game_name);
      }
    });
  };

  function shutdownGameServer(game_name) {

    console.log("Stopping Game Server for " + game_name);

    var agent_id = $('meta[name=agent-info-id]').attr('content');
    var json_data = `{"agent_id": ${agent_id}, "game_name": "${game_name}"}`;

    $.ajax({
      type: "POST",
      url: "/app/backend/game/server/control/shutdown",
      contentType: 'application/json',
      dataType: "json",
      data: JSON.stringify(json_data),
      success: function () {
        console.log("Stopping Game Server for " + game_name + ' on agent id: ' + agent_id);
        handleActionResult(agent_id, "shutdown", game_name);
      },
      error: function () {
        console.log('error!');
        handleActionResult(agent_id, "error", game_name);
      }

    });
  };

  function restartGameServer(game_name) {

    console.log("Restarting Game Server for " + game_name);

    var agent_id = $('meta[name=agent-info-id]').attr('content');
    var json_data = `{"agent_id": ${agent_id}, "game_name": "${game_name}"}`;

    $.ajax({
      type: "POST",
      url: "/app/backend/game/server/control/restart",
      contentType: 'application/json',
      dataType: "json",
      data: JSON.stringify(json_data),
      success: function () {
        console.log("Restarting Game Server for " + game_name + ' on agent id: ' + agent_id);
        handleActionResult(agent_id, "restart", game_name);
      },
      error: function () {
        console.log('error!');
        handleActionResult(agent_id, "error", game_name);
      }

    });
  };

  function handleActionResult(agent_id, action, game_name) {

    if (action == "error") {
      // Show modal with error...
      $("#errorModal").modal('show');
      $("#gameServerActionInProgress").modal('hide');
      return
    }

    console.log("Sending get_action_result signal to websocket...")

    var wait_time = 5000;  // 5 seconds

    if (action == "restart"){
      console.log("Waiting a little long than usual because its a restart.")
      wait_time = 20000;
    }

    $("#gameServerActionInProgress").modal('show');

    setTimeout(() =>
      socket.emit("get_action_result", {
        "agent_id": agent_id,
        "action": action,
        "game_name": game_name,
        "attempt_number": 0
      }
      ),
      wait_time  // Wait a bit to give the server a chance to do...
    )

  };

  $(".remove-group-from-agent").click(function () {

    console.log("Removing Agent Group Membership ID: " + this.id)
    var agent_id = $('meta[name=agent-info-id]').attr('content');

    $.ajax({
      type: "DELETE",
      url: "/app/backend/agent/group/member/" + this.id,
      contentType: 'application/json',
      success: function () {
        console.log("Friend Agent Group Member ID" + this.id);
        reloadAgentInfo(agent_id);
      },
      error: function () {
        console.log('error!')
        reloadAgentInfo(agent_id);
      }
    });


  });

  $(".remove-friend-from-agent").click(function () {

    console.log("Removing Agent Friend Membership ID: " + this.id)
    var agent_id = $('meta[name=agent-info-id]').attr('content');

    $.ajax({
      type: "DELETE",
      url: "/app/backend/agent/friend/member/" + this.id,
      contentType: 'application/json',
      success: function () {
        console.log("Friend Agent Group Member ID" + this.id);
        reloadAgentInfo(agent_id);
      },
      error: function () {
        console.log('error!')
        reloadAgentInfo(agent_id);
      }
    });

  });

</script>

{% endblock %}