</section>
<!--end of section-->
<section class="flush-with-above">
  <div class="container">

    <div class="row">

      <div class="col">

        <div id="accordion">

          {% for group in all_groups %}
          <div class="card">

            <div class="card-header" id="group-heading-{{group['group_id']}}">
              <div class="row d-flex justify-content-center">
                <div class="col-sm">
                  <button class="btn btn-lg btn-success" data-toggle="collapse" data-target="#collapseGroup{{group['group_id']}}" aria-expanded="true" aria-controls="collapseGroup{{group['group_id']}}">Group: {{group['name']}}</button>
                </div>
                <div class="col-sm" >
                  <div class="row d-flex justify-content-md-center">
                    <ul class="list-inline">
                      <li class="list-inline-item"><h5>Owner: </h5></li>
                      <li class="list-inline-item"><p> {{group['owner']['username']}}</p></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="row d-flex justify-content-md-center">
                    <ul class="list-inline">
                      <li class="list-inline-item"><h5>Members: </h5></li>
                      <li class="list-inline-item"><p> {{group['member_count']}}</p></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="row d-flex justify-content-md-center">
                    <ul class="list-inline">
                      <li class="list-inline-item"><h5>Agents: </h5></li>
                      <li class="list-inline-item"><p> 0</p></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm">
                  {% if current_user.user_id == group['owner_id'] %}
                  <div class="dropdown">
                    <button class="btn btn btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-dots-three-horizontal"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-sm">
                      <a class="dropdown-item" onclick="showUpdateGroupModal({{group['group_id']}})">Update Group</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" onclick="showTransferGroupModal({{group['group_id']}})">Transfer Ownership</a>
                        <a class="dropdown-item delete-group" id="{{group['group_id']}}">Disband Group</a>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>

            <div id="collapseGroup{{group['group_id']}}" class="collapse" aria-labelledby="group-heading-{{group['group_id']}}" data-parent="#accordion">
              <div class="card-body">
                <div class="row">
                  <table class="table table-bordered">
                    <thead>
                      <th role="col">Member Username</th>
                      <th role="col">Role</th>
                      <th role="col">Action</th>
                    </thead>
                    <tbody>
                      {% for member in group['members'] %}
                      <tr class="bg-white">
                        <td>{{member['user']['username']}}</td>
                        <td>{{ 'Owner' if member['user']['user_id'] == group['owner_id'] else 'Member' }}</td>
                        <!-- If the current user is the group owner, all buttons are enabled except for the owner.  That way the owner cannot delete itself from the group -->
                        {% if current_user.user_id == group['owner_id'] %}
                        <td>
                          {% set is_disabled = 'disabled="true"' if member['user']['user_id'] == group['owner_id'] else '' %}
                          <div class="dropdown">
                            <button class="btn btn btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{is_disabled}}>
                              <i class="icon-dots-three-horizontal"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-sm">
                              <a class="dropdown-item remove-friend-from-group" data-group_id="{{group['group_id']}}" id="{{member['user']['user_id']}}"> Remove from Group</a>
                            </div>
                          </div>
                        </td>
                        <!-- If the current user is NOT the group owner, all buttons are disabled except for current users.  That way the current user cannot remove other users from the group, and only leave the group. -->
                        {% else %}
                        <td>
                          {% set is_disabled = 'disabled="true"' if member['user']['user_id'] != current_user.user_id else '' %}
                          <div class="dropdown">
                            <button class="btn btn btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{is_disabled}}>
                              <i class="icon-dots-three-horizontal"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-sm">
                              <a class="dropdown-item remove-friend-from-group" data-group_id="{{group['group_id']}}" id="{{member['user']['user_id']}}"> Leave Group</a>
                            </div>
                          </div>
                        </td>
                        {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <div></div>
                      <div class="d-flex align-items-center">
                        <button class="btn btn-lg btn-success" onclick="showAddFriendToGroupModal({{group['group_id']}})" {{'disabled="true"' if group['owner_id'] != current_user.user_id else ''}}>Add Friend(s) to Group</button>
                      </div>
                    </div>
                  </div>
                  <!--end of col-->
                </div>
                <!--end of row-->
              </div>
            </div>

          </div>
          <!-- end of card -->
          {% endfor %}

        </div>
        <!-- end of accordian -->
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <div></div>
          <div class="d-flex align-items-center">
            <button class="btn btn-success btn-lg" onclick="showNewGroupModal()">New Group</button>
          </div>
        </div>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<script>
  $(document).ready(function(){

    var csrftoken = $('meta[name=csrf-token]').attr('content')

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    })

  });

  $('.delete-group').click(function(){

    console.log("Deleting Group " + this.id);

    $.ajax({
        type: "DELETE",
        url: "/app/backend/group/" + this.id,
        contentType: 'application/json',
        success: function(){
            console.log("Group" + this.id + ' deleted.');
            location.reload();
        },
        error: function( ){
            console.log('error!')
            location.reload();
        }
    });

  });

  $('.remove-friend-from-group').click(function(){

    var group_id = this.getAttribute('data-group_id');
    var member_id = this.id;

    message = "Removing Member ID: " + member_id + " From Group ID: " + group_id;
    console.log(message);

    $.ajax({
        type: "DELETE",
        url: "/app/backend/group/member/" + group_id + "/" + member_id,
        contentType: 'application/json',
        success: function(){
            console.log("Member ID: " + member_id + " Deleted From Group ID: " + group_id);
            location.reload();
        },
        error: function( ){
            console.log('error!')
            location.reload()
        }
    });

  });

</script>