{% extends "uix/layout/base.html" %}

{% block area %}

<meta name="csrf-token" content="{{ csrf_token() }}">

<div class="col text-center">

    <section class="height-10">

        <div class="container">

            <div class="row justify-content-center">

                <form class="col-12 col-lg-10" action="{{url_for('protected.system_friends')}}" method="post">
                    {{ friend_request_form.csrf_token }}
                    <div class="card card-sm text-center">
                        <div class="card-body row no-gutters align-items-center">
                            <div class="col-auto">
                                <h6 class="title-decorative">Friend Request:</h6>
                            </div>
                            <!--end of col-->
                            <div class="col">
                                {{ friend_request_form.friend_code(class="form-control form-control-lg form-control-borderless", type="text", id="friend-code", placeholder="Paste Friend Code here and click Send!") }}
                            </div>
                            <!--end of col-->
                            <div class="col-auto">
                                <button class="btn btn-lg btn-success friend-code-copy" type="submit">Send</button>
                            </div>
                            <!--end of col-->
                        </div>
                    </div>

                </form>
                <!--end of form-->
            </div>
            <!--end of row-->

        </div>
        <!--end of container-->
    </section>

    {% if not request_list_empty %}
        {% include "uix/system_friend_request_list.html" %}
    {% endif %}

    {% if not friend_list_empty %}
        {% include "uix/system_friend_list.html" %}
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    function showAddFriendModal(){
        $('#addFriendModal').modal('show')
    }
    function changePage(){
        document.location.href = "{{url_for('protected.system_friends', empty=False)}}";
    }
</script>
{% endblock %}