{% extends "uix/layout/base.html" %}

{% block area %}

<meta name="csrf-token" content="{{ csrf_token() }}">

<!-- Modal -->
<div class="modal fade" id="newGroupModal" tabindex="-1" role="dialog" aria-labelledby="message-title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create a New Friend Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form  action="{{url_for('protected.system_groups')}}" method="post">
                {{ new_group_form.csrf_token }}
                {{ new_group_form.method(value="POST") }}
                <div class="modal-body">

                    <div class="form-group row">
                        {{ new_group_form.name.label(class="col-sm-2 col-form-label") }}
                        <div class="col-sm-10">
                        {{ new_group_form.name(class="form-control", type="text", value="", placeholder="Pick a cool name for your friend group!") }}
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="updateGroupModal" tabindex="-1" role="dialog" aria-labelledby="message-title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form  action="{{url_for('protected.system_groups')}}" method="post">
                {{ update_group_form.csrf_token }}
                {{ update_group_form.method(value="PATCH") }}
                {{ update_group_form.group_id(id="update-group-id-input") }}
                <div class="modal-body">

                    <div class="form-group row">
                        {{ update_group_form.name.label(class="col-sm-2 col-form-label") }}
                        <div class="col-sm-10">
                        {{ update_group_form.name(class="form-control", id="update-group-name-input", type="text", value="", placeholder="Pick a cool name for your friend group!") }}
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addFriendToGroupModal" tabindex="-1" role="dialog" aria-labelledby="message-title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Friend(s) to Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form  action="{{url_for('protected.system_groups')}}" method="post">
                {{ friend_to_group_form.csrf_token }}
                {{ friend_to_group_form.method(value="PATCH_FRIEND") }}
                {{ friend_to_group_form.group_id(id="update-add-friend-group-id-input") }}
                <div class="modal-body">

                    <div class="form-group row">
                        {{ friend_to_group_form.friends_list.label(class="col-sm-2 col-form-label") }}
                        <div class="col-sm-10">
                        {{ friend_to_group_form.friends_list(class="form-control") }}
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="transferGroupModal" tabindex="-1" role="dialog" aria-labelledby="message-title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Transfer group ownership to friend</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form  action="{{url_for('protected.system_groups')}}" method="post">
                {{ transfer_group_form.csrf_token }}
                {{ transfer_group_form.method(value="PATCH_GROUP_TRANSFER") }}
                {{ transfer_group_form.group_id(id="update-transfer-group-id-input") }}
                <div class="modal-body">

                    <div class="form-group row">
                        {{ transfer_group_form.friends_list.label(class="col-sm-2 col-form-label") }}
                        <div class="col-sm-10">
                        {{ transfer_group_form.friends_list(class="form-control") }}
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col text-center">

    {% if is_empty %}
        {% include "uix/groups_empty_state.html" %}
    {% else %}
        {% include "uix/system_group_list.html" %}
    {% endif %}

</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>

    function showNewGroupModal(){
        $('#newGroupModal').modal('show')
    }

    function showUpdateGroupModal(group_id){

        $.ajax({
            url: "/app/backend/group/" + group_id,
            type: 'GET',
            dataType: 'json', // added data type
            success: function(data) {
                $('#update-group-id-input')[0].value = group_id;
                $('#update-group-name-input')[0].value = data['name'];
            }
        });

        $('#updateGroupModal').modal('show')
    }

    function showAddFriendToGroupModal(group_id){
        console.log("Group ID is: "+ group_id);
        $('#update-add-friend-group-id-input')[0].value = group_id;
        $('#addFriendToGroupModal').modal('show')
    }

    function showTransferGroupModal(group_id){
        console.log("Group ID is: "+ group_id);
        $('#update-transfer-group-id-input')[0].value = group_id;
        $('#transferGroupModal').modal('show')
    }

</script>
{% endblock %}