<div class="col text-center">

  <section class="flush-with-above">

    <div class="container">

      <div class="row">

        <div class="col">
          <table class="table table-borderless table-hover align-items-center">
            <thead>
              <tr>
                <th scope="col"><strong>Friend:</strong></th>
                <th scope="col">Friend Username</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>

              {% for friend in friends_list %}
              <tr class="bg-white">
                <td>
                  <a class="align-items-center">
                    <img alt="" src="{{ url_for('static', filename='uix/assets/img/agent.png') }}" class="avatar rounded avatar-sm" />
                  </a>
                </td>
                {% if current_user.user_id == friend['initiator_id'] %}
                <td>{{friend['receiver']['username']}}</td>
                {% else %}
                <td>{{friend['initiator']['username']}}</td>
                {% endif %}

                {% if current_user.user_id == friend['initiator_id'] %}
                <td>{{friend['receiver']['first_name']}} {{friend['receiver']['last_name']}}</td>
                {% else %}
                <td>{{friend['initiator']['first_name']}} {{friend['initiator']['last_name']}}</td>
                {% endif %}

                <td>
                  <div class="dropdown">
                    <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-dots-three-horizontal"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-sm">
                      <a class="dropdown-item remove-friend-request" id="{{friend['friend_id']}}">De-Friend</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="table-divider">
                <th></th>
                <td></td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>

</div>

<script>

  $(document).ready(function(){

    var csrftoken = $('meta[name=csrf-token]').attr('content')

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    })

  });

  $(".remove-friend-request").click(function(){
    console.log("De-Friend Request ID: " + this.id);

    $.ajax({
        type: "DELETE",
        url: "/app/backend/friend/" + this.id,
        contentType: 'application/json',
        success: function(){
            console.log("Friend Removed" + this.id + ' canceled.')
            location.reload();
        },
        error: function( ){
            console.log('error!')
            location.reload();
        }
    });

  });

</script>