</section>
<!--end of section-->
<section class="flush-with-above">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <div>
            <span class="text-muted text-small">Results 1 - 8 of 8</span>
          </div>
          <form class="d-flex align-items-center">
            <span class="mr-2 text-muted text-small text-nowrap">Sort by:</span>
            <select class="custom-select">
              <option value="alpha">Alphabetical</option>
              <option value="old-new" selected>Newest</option>
              <option value="new-old">Oldest</option>
            </select>
          </form>
        </div>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col">
        <table class="table table-borderless table-hover align-items-center">
          <thead>
            <tr>
              <th scope="col">Crew</th>
              <th scope="col">Owner</th>
              <th scope="col">Members</th>
              <th scope="col">Agents</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>

            <tr class="bg-white">
              <th scope="row">
                <a class="media align-items-center">
                  <img alt="Image" src="{{ url_for('static', filename='uix/assets/img/agent.png') }}" class="avatar rounded avatar-sm" />
                  <div class="media-body">
                    <span class="h6 mb-0">The Hammer</span>
                  </div>
                </a>
              </th>
              <td>{{current_user.username}}</td>
              <td>
                5
              </td>
              <td>
                2
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-dots-three-horizontal"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-sm">
                    <a class="dropdown-item" href="#">Update Crew</a>
                    <a class="dropdown-item" href="#">Members</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Disband</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="table-divider">
              <th></th>
              <td></td>
            </tr>

          </tbody>
        </table>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <div></div>
          <form class="d-flex align-items-center">
            <a class="btn btn-success btn-lg" onclick="showCreateCrewModal()">New Crew</a>
          </form>
        </div>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>